## start

In [2]:
import pandas as pd
import json
import os
import sqlite3

path = 'https://github.com/sizipusx/fundamental/blob/50f1e60bc474b8411e822e080718f1e5b4de19e2/files/header.xlsx?raw=true'
header_excel = pd.ExcelFile(path)

# Create a connection to the SQLite database
one_conn = sqlite3.connect('C://Users/sizip/Documents/GitHub/fundamental/files/one_monthly.db')
# kb_conn = sqlite3.connect('C://Users/user/Documents/GitHub/fundamental/files/kb_monthly.db')
#c = conn.cursor()

In [7]:
# kb_conn.close()
# one_conn.close()

In [5]:
#public reader 사용
service_key = 'ODM4YzliY2U3M2ZlMGNiY2VhNjYxYWRmZGRlOTM5M2M='

## 실거래가 지수

In [4]:
# 연결 1
file_path = "C://Users/sizip/OneDriveData/data/house/24.12월 공동주택 실거래가격지수 통계표.xlsm"
r_dict = pd.ExcelFile(file_path)
rm_df = r_dict.parse('매매_아파트', skiprows=2, index_col=0)
rj_df = r_dict.parse('전세_아파트', skiprows=2, index_col=0)
print(rm_df.tail())
print("===============================================================")
print(rj_df.tail())

                                                    Unnamed: 1  Unnamed: 2  \
NaN                                                        NaN         NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...         NaN         NaN
NaN                                                        NaN         NaN
NaN                                                        NaN         NaN
목차                                                         NaN         NaN

                                                    Unnamed: 3  서울\n(Seoul)  \
NaN                                                        NaN          NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...         NaN          NaN
NaN                                                        NaN          NaN
NaN                                                        NaN          NaN
목차                                                         NaN          NaN

                                                    도심권\n(Dosim-kwon)  \
NaN                                                               NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...                NaN
NaN                                                               NaN
NaN                                                               NaN
목차                                                                NaN

                                                    동북권\n(Dongbuk-kwon)  \
NaN                                                                 NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...                  NaN
NaN                                                                 NaN
NaN                                                                 NaN
목차                                                                  NaN

                                                    동남권\n(Dongnam-kwon)  \
NaN                                                                 NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...                  NaN
NaN                                                                 NaN
NaN                                                                 NaN
목차                                                                  NaN

                                                    서북권\n(Seobuk-kwon)  \
NaN                                                                NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...                 NaN
NaN                                                                NaN
NaN                                                                NaN
목차                                                                 NaN

                                                    서남권\n(Seonam-kwon)  \
NaN                                                                NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...                 NaN
NaN                                                                NaN
NaN                                                                NaN
목차                                                                 NaN

                                                    부산\n(Busan)  ...  \
NaN                                                         NaN  ...
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...          NaN  ...
NaN                                                         NaN  ...
NaN                                                         NaN  ...
목차                                                          NaN  ...

                                                    충북\n(Chungbuk)  \
NaN                                                            NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...             NaN
NaN                                                            NaN
NaN                                                            NaN
목차                                                             NaN

                                                    충남\n(Chungnam)  \
NaN                                                            NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...             NaN
NaN                                                            NaN
NaN                                                            NaN
목차                                                             NaN

                                                    전북\n(Jeonbuk)  \
NaN                                                           NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...            NaN
NaN                                                           NaN
NaN                                                           NaN
목차                                                            NaN

                                                    전남\n(Jeonnam)  \
NaN                                                           NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...            NaN
NaN                                                           NaN
NaN                                                           NaN
목차                                                            NaN

                                                    경북\n(Gyeongbuk)  \
NaN                                                             NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...              NaN
NaN                                                             NaN
NaN                                                             NaN
목차                                                              NaN

                                                    경남\n(Gyeongnam)  \
NaN                                                             NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...              NaN
NaN                                                             NaN
NaN                                                             NaN
목차                                                              NaN

                                                    제주\n(Jeju)  Unnamed: 26  \
NaN                                                        NaN          NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...         NaN          NaN
NaN                                                        NaN          NaN
NaN                                                        NaN          NaN
목차                                                         NaN          NaN

                                                    Unnamed: 27  Unnamed: 28
NaN                                                         NaN          NaN
광역시: 부산, 대구, 인천, 광주, 대전, 울산 \n지방광역시: 부산, 대구, 광주...          NaN          NaN
NaN                                                         NaN          NaN
NaN                                                         NaN          NaN
목차                                                          NaN          NaN

[5 rows x 28 columns]
===============================================================
                                                    Unnamed: 1  Unnamed: 2  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...         NaN         NaN
NaN                                                        NaN         NaN
NaN                                                        NaN         NaN
NaN                                                        NaN         NaN
목차                                                         NaN         NaN

                                                    Unnamed: 3  서울\n(Seoul)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...         NaN          NaN
NaN                                                        NaN          NaN
NaN                                                        NaN          NaN
NaN                                                        NaN          NaN
목차                                                         NaN          NaN

                                                    도심권\n(Dosim-kwon)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...                NaN
NaN                                                               NaN
NaN                                                               NaN
NaN                                                               NaN
목차                                                                NaN

                                                    동북권\n(Dongbuk-kwon)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...                  NaN
NaN                                                                 NaN
NaN                                                                 NaN
NaN                                                                 NaN
목차                                                                  NaN

                                                    동남권\n(Dongnam-kwon)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...                  NaN
NaN                                                                 NaN
NaN                                                                 NaN
NaN                                                                 NaN
목차                                                                  NaN

                                                    서북권\n(Seobuk-kwon)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...                 NaN
NaN                                                                NaN
NaN                                                                NaN
NaN                                                                NaN
목차                                                                 NaN

                                                    서남권\n(Seonam-kwon)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...                 NaN
NaN                                                                NaN
NaN                                                                NaN
NaN                                                                NaN
목차                                                                 NaN

                                                    부산\n(Busan)  ...  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...          NaN  ...
NaN                                                         NaN  ...
NaN                                                         NaN  ...
NaN                                                         NaN  ...
목차                                                          NaN  ...

                                                    충북\n(Chungbuk)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...             NaN
NaN                                                            NaN
NaN                                                            NaN
NaN                                                            NaN
목차                                                             NaN

                                                    충남\n(Chungnam)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...             NaN
NaN                                                            NaN
NaN                                                            NaN
NaN                                                            NaN
목차                                                             NaN

                                                    전북\n(Jeonbuk)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...            NaN
NaN                                                           NaN
NaN                                                           NaN
NaN                                                           NaN
목차                                                            NaN

                                                    전남\n(Jeonnam)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...            NaN
NaN                                                           NaN
NaN                                                           NaN
NaN                                                           NaN
목차                                                            NaN

                                                    경북\n(Gyeongbuk)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...              NaN
NaN                                                             NaN
NaN                                                             NaN
NaN                                                             NaN
목차                                                              NaN

                                                    경남\n(Gyeongnam)  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...              NaN
NaN                                                             NaN
NaN                                                             NaN
NaN                                                             NaN
목차                                                              NaN

                                                    제주\n(Jeju)  Unnamed: 26  \
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...         NaN          NaN
NaN                                                        NaN          NaN
NaN                                                        NaN          NaN
NaN                                                        NaN          NaN
목차                                                         NaN          NaN

                                                    Unnamed: 27  Unnamed: 28
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약...          NaN          NaN
NaN                                                         NaN          NaN
NaN                                                         NaN          NaN
NaN                                                         NaN          NaN
목차                                                          NaN          NaN

[5 rows x 28 columns]

In [5]:
header = header_excel.parse('real')
header

Empty DataFrame
Columns: [전국, 수도권, 지방, 서울, 서울 도심권, 서울 동북권, 서울 동남권, 서울 서북권, 서울 서남권, 부산, 대구, 인천, 광주, 대전, 울산, 세종, 경기, 강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주, 광역시, 지방광역시, 지방도]
Index: []

[0 rows x 28 columns]

In [6]:
rm_df.index.name="date"
rj_df.index.name="date"
rm_df.columns = header.columns
rj_df.columns = header.columns
rj_df

,전국,수도권,지방,서울,서울 도심권,서울 동북권,서울 동남권,서울 서북권,서울 서남권,부산,...,충북,충남,전북,전남,경북,경남,제주,광역시,지방광역시,지방도
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,77.578571,73.255065,88.540469,72.575247,75.436702,72.133900,73.329462,72.027373,72.151268,81.429945,...,95.411580,99.293315,86.132409,83.119087,105.355351,100.940866,67.652822,78.343227,83.869824,93.250350
2014-02-01 00:00:00,77.970942,73.715384,88.740180,72.702707,75.670909,72.603714,73.297107,72.687813,72.044866,82.318368,...,92.445125,99.560494,85.579461,81.219160,106.231319,101.158864,63.818936,79.300541,84.583427,92.974753
2014-03-01 00:00:00,78.326649,74.067479,89.101637,73.005290,75.649550,73.001227,73.498397,72.537607,72.540753,82.650606,...,93.032293,99.797172,86.123334,83.931129,108.278411,102.681998,64.006047,79.497123,84.572548,93.771115
2014-04-01 00:00:00,78.150906,73.831478,89.094280,72.666403,75.550976,73.170630,72.577630,73.010669,72.061376,82.751127,...,94.263537,100.149362,86.523574,80.829099,108.028786,103.412337,62.078888,79.685584,84.635556,93.735259
2014-05-01 00:00:00,78.016769,73.673966,89.026173,72.606203,75.151999,73.115090,72.691816,73.568508,71.664879,82.813289,...,96.144936,101.113377,87.336018,79.624326,107.841895,102.547505,70.973994,79.574656,84.451745,93.881470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
공동주택 실거래가격지수 중 전세 실거래가격지수는 확정일자를 기초로 신규계약 및 재계약시장이 통합되어 지수가 작성되었으므로 통계 이용시 유의하시기 바랍니다.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
목차,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
rm_df = rm_df.iloc[:rm_df['전국'].count()]
rm_df

,전국,수도권,지방,서울,서울 도심권,서울 동북권,서울 동남권,서울 서북권,서울 서남권,부산,...,충북,충남,전북,전남,경북,경남,제주,광역시,지방광역시,지방도
date,,,,,,,,,,,,,,,,,,,,,
2006-01-01 00:00:00,60.016231,62.796573,57.648784,58.444969,58.386732,54.436709,61.527054,55.985961,57.858430,47.946859,...,64.038639,74.056252,56.412183,49.283644,66.013339,61.041792,36.961721,55.371251,54.340729,60.824722
2006-02-01 00:00:00,60.544482,63.736300,57.604305,59.426609,58.371553,54.871811,63.032383,56.069593,59.118239,47.804072,...,65.150215,74.511516,56.895616,48.999661,65.482147,60.533483,36.079638,55.373037,54.171392,60.896289
2006-03-01 00:00:00,61.198997,64.766139,57.710678,60.894819,60.210774,55.094429,65.639106,56.687883,60.960235,47.394170,...,65.640791,75.184070,57.326955,49.508450,65.648093,61.302073,34.506530,55.411843,54.074151,61.207541
2006-04-01 00:00:00,61.670928,65.563149,57.681538,61.622266,59.697867,55.324281,67.603648,57.100072,62.186824,47.070454,...,66.456823,74.535425,57.617495,49.371849,65.672648,60.778300,34.568671,55.533352,54.000132,61.227926
2006-05-01 00:00:00,62.039291,66.175457,57.659141,61.842886,60.882954,55.505086,67.808773,57.799414,62.868169,46.689634,...,66.009831,72.486842,57.952573,50.930111,65.665906,61.050809,35.123989,55.598518,53.849605,61.333741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01 00:00:00,125.060585,147.249507,106.625489,170.185910,178.139332,170.742144,174.751950,166.160988,167.570892,104.535528,...,109.494266,104.368865,109.725947,106.080327,100.029237,95.408929,109.054894,112.750709,109.926526,104.003568
2024-09-01 00:00:00,125.195266,147.312646,106.827074,170.494499,178.372442,170.266232,176.562445,165.253916,168.083772,104.351699,...,109.736307,104.640139,110.797302,105.961311,100.611745,95.583455,110.083839,112.750665,109.950035,104.383600
2024-10-01 00:00:00,125.206514,147.306075,106.866375,170.585255,178.959511,170.441156,176.577381,165.587969,167.615208,104.421514,...,109.624365,105.208539,110.361844,106.450667,99.879111,95.502538,111.625870,112.866185,110.103587,104.328202
2024-11-01 00:00:00,124.711973,146.810492,106.385314,170.772892,177.795504,170.369396,177.860152,165.045594,167.560339,104.026509,...,109.256397,104.238003,109.960145,105.765706,99.506808,95.574463,109.959223,112.291476,109.617098,103.850006
2024-12-01 00:00:00,124.174664,146.119669,105.986234,170.341856,176.297323,169.018091,177.860330,165.051934,168.029341,103.467069,...,108.286264,104.079674,110.442606,105.601762,98.858279,94.953444,106.338366,111.889126,109.181792,103.523979

In [8]:
rj_df = rj_df.iloc[:rj_df['전국'].count()]
rj_df

,전국,수도권,지방,서울,서울 도심권,서울 동북권,서울 동남권,서울 서북권,서울 서남권,부산,...,충북,충남,전북,전남,경북,경남,제주,광역시,지방광역시,지방도
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,77.578571,73.255065,88.540469,72.575247,75.436702,72.133900,73.329462,72.027373,72.151268,81.429945,...,95.411580,99.293315,86.132409,83.119087,105.355351,100.940866,67.652822,78.343227,83.869824,93.250350
2014-02-01 00:00:00,77.970942,73.715384,88.740180,72.702707,75.670909,72.603714,73.297107,72.687813,72.044866,82.318368,...,92.445125,99.560494,85.579461,81.219160,106.231319,101.158864,63.818936,79.300541,84.583427,92.974753
2014-03-01 00:00:00,78.326649,74.067479,89.101637,73.005290,75.649550,73.001227,73.498397,72.537607,72.540753,82.650606,...,93.032293,99.797172,86.123334,83.931129,108.278411,102.681998,64.006047,79.497123,84.572548,93.771115
2014-04-01 00:00:00,78.150906,73.831478,89.094280,72.666403,75.550976,73.170630,72.577630,73.010669,72.061376,82.751127,...,94.263537,100.149362,86.523574,80.829099,108.028786,103.412337,62.078888,79.685584,84.635556,93.735259
2014-05-01 00:00:00,78.016769,73.673966,89.026173,72.606203,75.151999,73.115090,72.691816,73.568508,71.664879,82.813289,...,96.144936,101.113377,87.336018,79.624326,107.841895,102.547505,70.973994,79.574656,84.451745,93.881470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-01 00:00:00,123.410639,127.664357,114.497823,131.579871,134.063892,130.971202,129.022351,135.569827,133.033220,104.649770,...,121.474089,117.912457,112.404605,111.804461,114.191091,121.117916,117.655169,113.359279,109.303134,117.718794
2024-08-01 00:00:00,124.409240,128.573225,115.695461,132.854684,136.980080,132.643999,129.832473,136.066714,134.427154,105.892418,...,122.521399,118.702121,114.143161,113.742578,114.270128,122.811191,116.302966,114.249370,110.602186,118.820181
2024-09-01 00:00:00,124.405705,128.515281,115.812327,132.483729,136.733142,132.133959,129.816752,136.096380,133.657348,105.369538,...,122.677788,117.442346,112.198099,114.244271,114.171561,123.333532,117.502656,114.427406,110.704996,118.925674
2024-10-01 00:00:00,124.467520,128.585255,115.846449,132.193185,135.138285,132.340420,129.835395,134.560116,133.251641,105.386550,...,122.170086,118.215483,112.543626,114.281247,115.023464,124.030888,116.118659,114.725194,111.128380,118.558051
2024-11-01 00:00:00,123.735283,127.501913,115.937088,131.254645,134.676838,131.539736,128.519489,132.490112,132.865386,105.119069,...,124.403068,118.887029,110.023671,113.329142,112.336733,122.840982,121.245398,114.370011,111.204444,118.458404

In [10]:
rm_df.to_excel('C://Users/sizip/Documents/real_mae_monthly.xlsx')
rj_df.to_excel('C://Users/sizip/Documents/real_jeon_monthly.xlsx')

In [ ]:
#처음 한번만 전체 넣기
# rm_df.to_sql("rmae", one_conn, if_exists="replace")
# rj_df.to_sql("rjeon", one_conn, if_exists="replace")

131

In [ ]:
#마지막 행만 넣기  ===============데이터 제대로 들어가는지 확인 필요====================================
mlast_row = rm_df.tail(1)
jlast_row = rj_df.tail(1)
jlast_row

,전국,수도권,지방,서울,서울 도심권,서울 동북권,서울 동남권,서울 서북권,서울 서남권,부산,...,충북,충남,전북,전남,경북,경남,제주,광역시,지방광역시,지방도
date,,,,,,,,,,,,,,,,,,,,,
2024-11-01 00:00:00,123.735283,127.501913,115.937088,131.254645,134.676838,131.539736,128.519489,132.490112,132.865386,105.119069,...,124.403068,118.887029,110.023671,113.329142,112.336733,122.840982,121.245398,114.370011,111.204444,118.458404

In [14]:
mlast_row.to_sql("rmae", one_conn, if_exists="append")
jlast_row.to_sql("rjeon", one_conn, if_exists="append")

1

In [18]:
omt = pd.read_sql("SELECT * FROM rmae", one_conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
ojt = pd.read_sql("SELECT * FROM rjeon", one_conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
omt

,전국,수도권,지방,서울,서울 도심권,서울 동북권,서울 동남권,서울 서북권,서울 서남권,부산,...,충북,충남,전북,전남,경북,경남,제주,광역시,지방광역시,지방도
date,,,,,,,,,,,,,,,,,,,,,
2006-01-01,60.016231,62.796573,57.648784,58.444969,58.386732,54.436709,61.527054,55.985961,57.858430,47.946859,...,64.038639,74.056252,56.412183,49.283644,66.013339,61.041792,36.961721,55.371251,54.340729,60.824722
2006-02-01,60.544482,63.736300,57.604305,59.426609,58.371553,54.871811,63.032383,56.069593,59.118239,47.804072,...,65.150215,74.511516,56.895616,48.999661,65.482147,60.533483,36.079638,55.373037,54.171392,60.896289
2006-03-01,61.198997,64.766139,57.710678,60.894819,60.210774,55.094429,65.639106,56.687883,60.960235,47.394170,...,65.640791,75.184070,57.326955,49.508450,65.648093,61.302073,34.506530,55.411843,54.074151,61.207541
2006-04-01,61.670928,65.563149,57.681538,61.622266,59.697867,55.324281,67.603648,57.100072,62.186824,47.070454,...,66.456823,74.535425,57.617495,49.371849,65.672648,60.778300,34.568671,55.533352,54.000132,61.227926
2006-05-01,62.039291,66.175457,57.659141,61.842886,60.882954,55.505086,67.808773,57.799414,62.868169,46.689634,...,66.009831,72.486842,57.952573,50.930111,65.665906,61.050809,35.123989,55.598518,53.849605,61.333741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,125.060585,147.249507,106.625489,170.185910,178.139332,170.742144,174.751950,166.160988,167.570892,104.535528,...,109.494266,104.368865,109.725947,106.080327,100.029237,95.408929,109.054894,112.750709,109.926526,104.003568
2024-09-01,125.195266,147.312646,106.827074,170.494499,178.372442,170.266232,176.562445,165.253916,168.083772,104.351699,...,109.736307,104.640139,110.797302,105.961311,100.611745,95.583455,110.083839,112.750665,109.950035,104.383600
2024-10-01,125.206514,147.306075,106.866375,170.585255,178.959511,170.441156,176.577381,165.587969,167.615208,104.421514,...,109.624365,105.208539,110.361844,106.450667,99.879111,95.502538,111.625870,112.866185,110.103587,104.328202
2024-11-01,124.711973,146.810492,106.385314,170.772892,177.795504,170.369396,177.860152,165.045594,167.560339,104.026509,...,109.256397,104.238003,109.960145,105.765706,99.506808,95.574463,109.959223,112.291476,109.617098,103.850006
2024-12-01,124.174664,146.119669,105.986234,170.341856,176.297323,169.018091,177.860330,165.051934,168.029341,103.467069,...,108.286264,104.079674,110.442606,105.601762,98.858279,94.953444,106.338366,111.889126,109.181792,103.523979

In [19]:
ojt

,전국,수도권,지방,서울,서울 도심권,서울 동북권,서울 동남권,서울 서북권,서울 서남권,부산,...,충북,충남,전북,전남,경북,경남,제주,광역시,지방광역시,지방도
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01,77.578571,73.255065,88.540469,72.575247,75.436702,72.133900,73.329462,72.027373,72.151268,81.429945,...,95.411580,99.293315,86.132409,83.119087,105.355351,100.940866,67.652822,78.343227,83.869824,93.250350
2014-02-01,77.970942,73.715384,88.740180,72.702707,75.670909,72.603714,73.297107,72.687813,72.044866,82.318368,...,92.445125,99.560494,85.579461,81.219160,106.231319,101.158864,63.818936,79.300541,84.583427,92.974753
2014-03-01,78.326649,74.067479,89.101637,73.005290,75.649550,73.001227,73.498397,72.537607,72.540753,82.650606,...,93.032293,99.797172,86.123334,83.931129,108.278411,102.681998,64.006047,79.497123,84.572548,93.771115
2014-04-01,78.150906,73.831478,89.094280,72.666403,75.550976,73.170630,72.577630,73.010669,72.061376,82.751127,...,94.263537,100.149362,86.523574,80.829099,108.028786,103.412337,62.078888,79.685584,84.635556,93.735259
2014-05-01,78.016769,73.673966,89.026173,72.606203,75.151999,73.115090,72.691816,73.568508,71.664879,82.813289,...,96.144936,101.113377,87.336018,79.624326,107.841895,102.547505,70.973994,79.574656,84.451745,93.881470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-01,123.410639,127.664357,114.497823,131.579871,134.063892,130.971202,129.022351,135.569827,133.033220,104.649770,...,121.474089,117.912457,112.404605,111.804461,114.191091,121.117916,117.655169,113.359279,109.303134,117.718794
2024-08-01,124.409240,128.573225,115.695461,132.854684,136.980080,132.643999,129.832473,136.066714,134.427154,105.892418,...,122.521399,118.702121,114.143161,113.742578,114.270128,122.811191,116.302966,114.249370,110.602186,118.820181
2024-09-01,124.405705,128.515281,115.812327,132.483729,136.733142,132.133959,129.816752,136.096380,133.657348,105.369538,...,122.677788,117.442346,112.198099,114.244271,114.171561,123.333532,117.502656,114.427406,110.704996,118.925674
2024-10-01,124.467520,128.585255,115.846449,132.193185,135.138285,132.340420,129.835395,134.560116,133.251641,105.386550,...,122.170086,118.215483,112.543626,114.281247,115.023464,124.030888,116.118659,114.725194,111.128380,118.558051
2024-11-01,123.735283,127.501913,115.937088,131.254645,134.676838,131.539736,128.519489,132.490112,132.865386,105.119069,...,124.403068,118.887029,110.023671,113.329142,112.336733,122.840982,121.245398,114.370011,111.204444,118.458404

## KB 월간 업데이트

In [3]:
# 연결 1
file_path = "C://Users/user/OneDriveData/data/house/202501_월간시계열.xlsx"
kbm_dict = pd.ExcelFile(file_path)
m_df = kbm_dict.parse('2.매매APT', skiprows=1, index_col=0)
j_df = kbm_dict.parse('6.전세APT', skiprows=1, index_col=0)
j_df

,전국,서울특별시,강북\n14개구,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 180,Unnamed: 181,양산,거제,진주시,김해시,통영시,제주/\n서귀포,제주특별자치도,기타지방
구분,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,강북구,광진구,노원구,도봉구,동대문구,마포구,서대문구,...,의창구,진해구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Classification,Total,Seoul,Northern seoul,Gangbuk-gu,Gwangjin-gu,Nowon-gu,Dobong-gu,Dongdaemun-gu,Mapo-gu,Seodaemun-gu,...,Uichang,Jinhae,Yangsan,Geoje,Jinju,Gimhae,Tongyoung,Jeju-do,Jeju/\nSeogwipo,Non-Metropolitan Area
86.1,9.009376,7.755721,8.52567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9.269012,8.083758,8.625678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.554612,8.364932,8.850696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,89.798015,91.040533,91.205271,91.315377,91.407461,89.689397,88.948318,88.942287,95.261986,98.265972,...,94.174414,102.583764,89.184375,87.532063,101.456807,89.21905,101.770256,NaN,96.709473,96.312741
10,90.000649,91.407403,91.562034,91.520111,91.732909,89.947312,89.149192,89.254139,95.743147,98.940147,...,94.254281,102.422256,89.001156,87.49127,101.940445,89.318871,101.736511,NaN,96.736144,96.34544
11,90.22673,91.805196,91.901565,92.085693,92.095822,90.143763,89.602867,89.606106,96.258805,99.322524,...,94.266137,102.453966,88.937622,87.535805,102.150654,89.422322,101.651459,NaN,96.807126,96.399153
12,90.342863,92.060414,92.144309,92.357155,92.289937,90.303936,89.747716,89.932946,96.728801,99.651026,...,94.260557,102.396525,88.674371,87.760501,102.344138,89.455107,101.52136,NaN,96.936442,96.336801
2025.1,90.364417,92.1257,92.203134,92.299958,92.316861,90.412174,89.647753,89.783763,96.910557,99.849512,...,94.204833,102.139703,88.251064,88.046659,102.395567,89.224541,101.232807,NaN,96.889562,96.273073

## 매매 전세 지수

In [4]:
header = header_excel.parse('KB')
header

Empty DataFrame
Columns: [전국, 서울, 서울 강북권역, 서울 강북구, 서울 광진구, 서울 노원구, 서울 도봉구, 서울 동대문구, 서울 마포구, 서울 서대문구, 서울 성동구, 서울 성북구, 서울 용산구, 서울 은평구, 서울 종로구, 서울 중구, 서울 중랑구, 서울 강남권역, 서울 강남구, 서울 강동구, 서울 강서구, 서울 관악구, 서울 구로구, 서울 금천구, 서울 동작구, 서울 서초구, 서울 송파구, 서울 양천구, 서울 영등포구, 6대광역시, 부산, 부산 중구, 부산 서구, 부산 동구, 부산 영도구, 부산 부산진구, 부산 동래구, 부산 남구, 부산 북구, 부산 해운대구, 부산 사하구, 부산 금정구, 부산 연제구, 부산 수영구, 부산 사상구, 부산 기장군, 부산 강서구, 대구, 대구 중구, 대구 동구, 대구 서구, 대구 남구, 대구 북구, 대구 수성구, 대구 달서구, 대구 달성군, 인천, 인천 중구, 인천 동구, 인천 미추홀구, 인천 연수구, 인천 남동구, 인천 부평구, 인천 계양구, 인천 서구, 광주, 광주 동구, 광주 서구, 광주 남구, 광주 북구, 광주 광산구, 대전, 대전 동구, 대전 중구, 대전 서구, 대전 유성구, 대전 대덕구, 울산, 울산 중구, 울산 남구, 울산 동구, 울산 북구, 울산 울주군, 5대광역시, 수도권, 세종, 경기, 수원, 수원 장안구, 수원 권선구, 수원 팔달구, 수원 영통구, 성남, 성남 수정구, 성남 중원구, 성남 분당구, 고양, 고양 덕양구, 고양 일산동구, 고양 일산서구, ...]
Index: []

[0 rows x 189 columns]

In [5]:
mdf = m_df.iloc[2:m_df['전국'].count()+1]
mdf.index.name="date"
jdf = j_df.iloc[2:j_df['전국'].count()+1]
jdf.index.name="date"
mdf.columns = header.columns
jdf.columns = header.columns

In [6]:
mdf

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
date,,,,,,,,,,,,,,,,,,,,,
86.1,15.910037,12.634687,17.654568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15.910037,12.656584,17.625626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15.880737,12.634687,17.596684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15.792836,12.547098,17.480916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,15.675635,12.481406,17.249381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,89.566492,92.354427,89.256582,86.973621,97.400173,82.59912,81.153965,88.401392,97.142454,91.606402,...,94.478878,98.284917,92.829899,84.134321,102.216836,89.591983,98.810828,NaN,97.815876,95.452952
10,89.660654,92.815979,89.579069,87.064433,98.090594,82.741877,81.241035,88.658885,97.658401,92.01315,...,94.423913,98.11715,92.573883,84.049133,102.521584,89.510777,98.785899,NaN,97.750794,95.42765
11,89.666181,93.080784,89.762266,87.183992,98.600465,82.785308,81.366485,88.848834,98.039745,92.241995,...,94.409378,98.114019,92.423541,83.725977,102.801217,89.443657,98.744606,NaN,97.660442,95.386848
12,89.58063,93.304538,89.894699,87.210765,98.82987,82.781847,81.379401,89.063161,98.313467,92.530483,...,94.149947,97.958839,92.244122,82.977734,102.941131,89.300702,98.703125,NaN,97.439609,95.239515
2025.1,89.447547,93.364574,89.906732,87.19132,98.901958,82.726668,81.300791,89.161525,98.401348,92.634836,...,94.062674,97.650085,91.60418,82.327069,103.085296,88.871128,98.442726,NaN,97.282529,95.052207

In [7]:
#index 날짜 변경
index_list = list(mdf.index)

new_index = []

for num, raw_index in enumerate(index_list):
    temp = str(raw_index).split('.')
    if int(temp[0]) > 12 :
        if len(temp[0]) == 2:
            new_index.append('19' + temp[0] + '.' + temp[1])
        else:
            new_index.append(temp[0] + '.' + temp[1])
    else:
        new_index.append(new_index[num-1].split('.')[0] + '.' + temp[0])

mdf.set_index(pd.to_datetime(new_index), inplace=True)
jdf.set_index(pd.to_datetime(new_index), inplace=True)
mdf

C:\Users\user\AppData\Local\Temp\ipykernel_3648\1508639845.py:16: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mdf.set_index(pd.to_datetime(new_index), inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_3648\1508639845.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  jdf.set_index(pd.to_datetime(new_index), inplace=True)

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
1986-01-01,15.910037,12.634687,17.654568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-02-01,15.910037,12.656584,17.625626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-01,15.880737,12.634687,17.596684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-04-01,15.792836,12.547098,17.480916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-05-01,15.675635,12.481406,17.249381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-01,89.566492,92.354427,89.256582,86.973621,97.400173,82.59912,81.153965,88.401392,97.142454,91.606402,...,94.478878,98.284917,92.829899,84.134321,102.216836,89.591983,98.810828,NaN,97.815876,95.452952
2024-10-01,89.660654,92.815979,89.579069,87.064433,98.090594,82.741877,81.241035,88.658885,97.658401,92.01315,...,94.423913,98.11715,92.573883,84.049133,102.521584,89.510777,98.785899,NaN,97.750794,95.42765
2024-11-01,89.666181,93.080784,89.762266,87.183992,98.600465,82.785308,81.366485,88.848834,98.039745,92.241995,...,94.409378,98.114019,92.423541,83.725977,102.801217,89.443657,98.744606,NaN,97.660442,95.386848
2024-12-01,89.58063,93.304538,89.894699,87.210765,98.82987,82.781847,81.379401,89.063161,98.313467,92.530483,...,94.149947,97.958839,92.244122,82.977734,102.941131,89.300702,98.703125,NaN,97.439609,95.239515
2025-01-01,89.447547,93.364574,89.906732,87.19132,98.901958,82.726668,81.300791,89.161525,98.401348,92.634836,...,94.062674,97.650085,91.60418,82.327069,103.085296,88.871128,98.442726,NaN,97.282529,95.052207

In [8]:
mdf = mdf.astype(float).fillna(0).round(decimals=3)
jdf = jdf.astype(float).fillna(0).round(decimals=3)
mdf.index.name="date"
jdf.index.name="date"

In [9]:
last_row = mdf.tail(1)
last_row.index.name="date"
jlast_row = jdf.tail(1)
jlast_row.index.name="date"
last_row

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
date,,,,,,,,,,,,,,,,,,,,,
2025-01-01,89.448,93.365,89.907,87.191,98.902,82.727,81.301,89.162,98.401,92.635,...,94.063,97.65,91.604,82.327,103.085,88.871,98.443,0.0,97.283,95.052

In [10]:
# Create a connection to the SQLite database
# conn = sqlite3.connect('C://Users/user/Documents/GitHub/fundamental/files/kb_monthly.db')
# c = conn.cursor()

last_row.to_sql("mae", kb_conn, if_exists="append")
jlast_row.to_sql("jeon", kb_conn, if_exists="append")
# mdf.to_sql("mae", conn, if_exists="replace")
# jdf.to_sql("jeon", conn, if_exists="replace")

1

In [11]:
# mdf.to_sql("mae", conn, if_exists="replace")
# jdf.to_sql("jeon", conn, if_exists="replace")

In [12]:
tdf = pd.read_sql("SELECT * FROM jeon", kb_conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
tdf

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,거제,진주,김해,통영,제주도,제주,지방,부천 원미구,부천 소사구,부천 오정구
date,,,,,,,,,,,,,,,,,,,,,
1986-01-01,9.009,7.756,8.526,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,NaN,NaN,NaN
1986-02-01,9.269,8.084,8.626,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,NaN,NaN,NaN
1986-03-01,9.555,8.365,8.851,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,NaN,NaN,NaN
1986-04-01,9.762,8.552,9.001,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,NaN,NaN,NaN
1986-05-01,9.788,8.623,9.151,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.0,0.000,0.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-01,89.798,91.041,91.205,91.315,91.407,89.689,88.948,88.942,95.262,98.266,...,87.532,101.457,89.219,101.770,0.0,96.709,96.313,90.882,91.338,88.430
2024-10-01,90.001,91.407,91.562,91.520,91.733,89.947,89.149,89.254,95.743,98.940,...,87.491,101.940,89.319,101.737,0.0,96.736,96.345,91.313,91.639,88.505
2024-11-01,90.227,91.805,91.902,92.086,92.096,90.144,89.603,89.606,96.259,99.323,...,87.536,102.151,89.422,101.651,0.0,96.807,96.399,91.774,91.859,89.140
2024-12-01,90.343,92.060,92.144,92.357,92.290,90.304,89.748,89.933,96.729,99.651,...,87.761,102.344,89.455,101.521,0.0,96.936,96.337,92.043,92.105,89.493
2025-01-01,90.364,92.126,92.203,92.300,92.317,90.412,89.648,89.784,96.911,99.850,...,88.047,102.396,89.225,101.233,0.0,96.890,96.273,92.199,92.207,89.588

## 매수우위, 전세수습지수

In [13]:
ms = kbm_dict.parse("21.매수우위", skiprows=1, index_col=0, parse_dates=True)
ms.index.name="date"
js = kbm_dict.parse("23.전세수급", skiprows=1, index_col=0, parse_dates=True)
js.index.name="date"
js

C:\Users\user\AppData\Local\Temp\ipykernel_3648\2221536494.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ms = kbm_dict.parse("21.매수우위", skiprows=1, index_col=0, parse_dates=True)
C:\Users\user\AppData\Local\Temp\ipykernel_3648\2221536494.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  js = kbm_dict.parse("23.전세수급", skiprows=1, index_col=0, parse_dates=True)

,전국 Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,서울특별시 Seoul,Unnamed: 6,Unnamed: 7,Unnamed: 8,강북14개구 Northern seoul,Unnamed: 10,...,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108
date,,,,,,,,,,,,,,,,,,,,,
NaN,수요>공급,수요<공급,전세수급지수,수요≒공급,수요>공급,수요<공급,전세수급지수,수요≒공급,수요>공급,수요<공급,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Demand >Supply,Demand <Supply,Jeonse Demend & Supplly Index,Demand ≒ Supply,Demand >Supply,Demand <Supply,Jeonse Demend & Supplly Index,Demand ≒ Supply,Demand >Supply,Demand <Supply,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'00.1,76.156218,11.305242,164.850976,12.538541,80.977131,5.509356,175.467775,13.513514,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,84.475806,7.459677,177.016129,8.064516,93.993994,1.501502,192.492492,4.504505,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,85.714286,7.645875,178.06841,6.639839,94.605395,0.799201,193.806194,4.595405,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,42.747879,16.610016,126.137863,40.642105,39.219397,13.738525,125.480872,47.042078,40.407885,12.422348,...,127.985537,123.229007,122.120728,83.963178,130.711218,148.011470,120.423795,171.582163,116.412709,138.712021
2025.1,43.832168,15.355578,128.47659,40.812254,39.011677,13.812036,125.199641,47.176288,39.501395,12.699729,...,126.801666,123.757738,129.276737,94.996500,135.639869,146.574729,118.897107,172.914309,121.203664,137.204230
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고하시기 바랍니다.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"※ 전세수급지수 = 100 + ""공급부족""비중 - ""공급충분""비중 (조사항목 : 공급부족, 적절, 공급충분 3개중 택1)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
- 전세수급지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '공급부족' 비중이 높음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#필요 없는 컬럼 수정
ms = ms.iloc[:,:-12]
js = js.iloc[:,:-12]
js

,전국 Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,서울특별시 Seoul,Unnamed: 6,Unnamed: 7,Unnamed: 8,강북14개구 Northern seoul,Unnamed: 10,...,Unnamed: 87,Unnamed: 88,기타지방 Non Metropolitan Area,Unnamed: 90,Unnamed: 91,Unnamed: 92,제주특별자치도 Jeju,Unnamed: 94,Unnamed: 95,Unnamed: 96
date,,,,,,,,,,,,,,,,,,,,,
NaN,수요>공급,수요<공급,전세수급지수,수요≒공급,수요>공급,수요<공급,전세수급지수,수요≒공급,수요>공급,수요<공급,...,전세수급지수,수요≒공급,수요>공급,수요<공급,전세수급지수,수요≒공급,수요>공급,수요<공급,전세수급지수,수요≒공급
NaN,Demand >Supply,Demand <Supply,Jeonse Demend & Supplly Index,Demand ≒ Supply,Demand >Supply,Demand <Supply,Jeonse Demend & Supplly Index,Demand ≒ Supply,Demand >Supply,Demand <Supply,...,Jeonse Demend & Supplly Index,Demand ≒ Supply,Demand >Supply,Demand <Supply,Jeonse Demend & Supplly Index,Demand ≒ Supply,Demand >Supply,Demand <Supply,Jeonse Demend & Supplly Index,Demand ≒ Supply
'00.1,76.156218,11.305242,164.850976,12.538541,80.977131,5.509356,175.467775,13.513514,-,-,...,-,NaN,58.006363,23.966066,134.040297,18.027572,NaN,NaN,NaN,NaN
2,84.475806,7.459677,177.016129,8.064516,93.993994,1.501502,192.492492,4.504505,-,-,...,-,NaN,68.228106,17.718941,150.509165,14.052953,NaN,NaN,NaN,NaN
3,85.714286,7.645875,178.06841,6.639839,94.605395,0.799201,193.806194,4.595405,-,-,...,-,NaN,65.443425,22.426096,143.017329,12.130479,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,42.747879,16.610016,126.137863,40.642105,39.219397,13.738525,125.480872,47.042078,40.407885,12.422348,...,135.80803,40.869554,52.458504,13.746483,138.712021,33.795012,39.390393,9.593595,129.796798,51.016012
2025.1,43.832168,15.355578,128.47659,40.812254,39.011677,13.812036,125.199641,47.176288,39.501395,12.699729,...,134.669997,42.228244,50.959634,13.755404,137.20423,35.284962,38.565955,15.697865,122.86809,45.73618
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고하시기 바랍니다.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"※ 전세수급지수 = 100 + ""공급부족""비중 - ""공급충분""비중 (조사항목 : 공급부족, 적절, 공급충분 3개중 택1)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
- 전세수급지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '공급부족' 비중이 높음,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#컬럼명 바꿈
m1 = ms.columns.map(lambda x: x.split(' ')[0])

new_s1 = []
for num, gu_data in enumerate(m1):
    check = num
    if gu_data.startswith('Un'):
        new_s1.append(new_s1[check-1])
    else:
        new_s1.append(m1[check])

#컬럼 설정
ms.columns = [new_s1,ms.iloc[0]]
js.columns = [new_s1,js.iloc[0]]
ms

                                                                           전국  \
nan                                                                    매도자 많음
date
NaN                                                                    매도자 많음
NaN                                                 Seller's No.> Buyer's No.
'00.1                                                               72.534464
2                                                                   79.123173
3                                                                   78.787879
...                                                                       ...
12                                                                  76.334833
2025.1                                                              76.568097
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                               \
nan                                                                    매수자 많음
date
NaN                                                                    매수자 많음
NaN                                                 Seller's No.< Buyer's No.
'00.1                                                                4.984093
2                                                                     6.05428
3                                                                    4.444444
...                                                                       ...
12                                                                   2.009576
2025.1                                                               2.247031
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                              \
nan                                                                      비슷함
date
NaN                                                                      비슷함
NaN                                                 Seller's No.≒Buyer's No.
'00.1                                                              22.481442
2                                                                  14.822547
3                                                                  16.767677
...                                                                      ...
12                                                                 21.655591
2025.1                                                             21.184872
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                       NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                       NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                       NaN

                                                                             \
nan                                                                  매수우위지수
date
NaN                                                                  매수우위지수
NaN                                                 Buyer Superiority Index
'00.1                                                             32.449629
2                                                                 26.931106
3                                                                 25.656566
...                                                                     ...
12                                                                25.674743
2025.1                                                            25.678935
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                      NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                      NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                      NaN

                                                                        서울특별시  \
nan                                                                    매도자 많음
date
NaN                                                                    매도자 많음
NaN                                                 Seller's No.> Buyer's No.
'00.1                                                               60.346696
2                                                                   66.420275
3                                                                        73.3
...                                                                       ...
12                                                                  65.553874
2025.1                                                              66.778355
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                               \
nan                                                                    매수자 많음
date
NaN                                                                    매수자 많음
NaN                                                 Seller's No.< Buyer's No.
'00.1                                                                6.608884
2                                                                   11.193242
3                                                                         9.9
...                                                                       ...
12                                                                   2.335503
2025.1                                                                2.20995
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                              \
nan                                                                      비슷함
date
NaN                                                                      비슷함
NaN                                                 Seller's No.≒Buyer's No.
'00.1                                                               33.04442
2                                                                  22.386484
3                                                                       16.8
...                                                                      ...
12                                                                 32.110623
2025.1                                                             31.011695
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                       NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                       NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                       NaN

                                                                             \
nan                                                                  매수우위지수
date
NaN                                                                  매수우위지수
NaN                                                 Buyer Superiority Index
'00.1                                                             46.262189
2                                                                 44.772967
3                                                                      36.6
...                                                                     ...
12                                                                36.781629
2025.1                                                            35.431596
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                      NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                      NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                      NaN

                                                                       강북14개구  \
nan                                                                    매도자 많음
date
NaN                                                                    매도자 많음
NaN                                                 Seller's No.> Buyer's No.
'00.1                                                                       -
2                                                                           -
3                                                                           -
...                                                                       ...
12                                                                  67.956688
2025.1                                                               70.50457
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                               \
nan                                                                    매수자 많음
date
NaN                                                                    매수자 많음
NaN                                                 Seller's No.< Buyer's No.
'00.1                                                                       -
2                                                                           -
3                                                                           -
...                                                                       ...
12                                                                   2.136574
2025.1                                                               1.613103
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                    ...  \
nan                                                 ...
date                                                ...
NaN                                                 ...
NaN                                                 ...
'00.1                                               ...
2                                                   ...
3                                                   ...
...                                                 ...
12                                                  ...
2025.1                                              ...
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...  ...
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...  ...
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...  ...

                                                                        경상남도  \
nan                                                                      비슷함
date
NaN                                                                      비슷함
NaN                                                 Seller's No.≒Buyer's No.
'00.1                                                                    NaN
2                                                                        NaN
3                                                                        NaN
...                                                                      ...
12                                                                 19.456324
2025.1                                                              22.63172
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                       NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                       NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                       NaN

                                                                             \
nan                                                                  매수우위지수
date
NaN                                                                  매수우위지수
NaN                                                 Buyer Superiority Index
'00.1                                                                     -
2                                                                         -
3                                                                         -
...                                                                     ...
12                                                                25.041875
2025.1                                                            27.749719
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                      NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                      NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                      NaN

                                                                         기타지방  \
nan                                                                    매도자 많음
date
NaN                                                                    매도자 많음
NaN                                                 Seller's No.> Buyer's No.
'00.1                                                               83.281412
2                                                                   90.356394
3                                                                   87.869521
...                                                                       ...
12                                                                   76.14241
2025.1                                                              75.626749
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                               \
nan                                                                    매수자 많음
date
NaN                                                                    매수자 많음
NaN                                                 Seller's No.< Buyer's No.
'00.1                                                                3.946002
2                                                                     2.93501
3                                                                    1.834862
...                                                                       ...
12                                                                   2.693246
2025.1                                                               2.770447
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                              \
nan                                                                      비슷함
date
NaN                                                                      비슷함
NaN                                                 Seller's No.≒Buyer's No.
'00.1                                                              12.772586
2                                                                   6.708595
3                                                                  10.295617
...                                                                      ...
12                                                                 21.164344
2025.1                                                             21.602804
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                       NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                       NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                       NaN

                                                                             \
nan                                                                  매수우위지수
date
NaN                                                                  매수우위지수
NaN                                                 Buyer Superiority Index
'00.1                                                              20.66459
2                                                                 12.578616
3                                                                 13.965341
...                                                                     ...
12                                                                26.550835
2025.1                                                            27.143699
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                      NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                      NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                      NaN

                                                                      제주특별자치도  \
nan                                                                    매도자 많음
date
NaN                                                                    매도자 많음
NaN                                                 Seller's No.> Buyer's No.
'00.1                                                                     NaN
2                                                                         NaN
3                                                                         NaN
...                                                                       ...
12                                                                       62.5
2025.1                                                              65.697865
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                               \
nan                                                                    매수자 많음
date
NaN                                                                    매수자 많음
NaN                                                 Seller's No.< Buyer's No.
'00.1                                                                     NaN
2                                                                         NaN
3                                                                         NaN
...                                                                       ...
12                                                                          0
2025.1                                                               2.906405
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                        NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                        NaN
   - 매수우위지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '매수자가...                        NaN

                                                                              \
nan                                                                      비슷함
date
NaN                                                                      비슷함
NaN                                                 Seller's No.≒Buyer's No.
'00.1                                                                    NaN
2                                                                        NaN
3                                                                        NaN
...                                                                      ...
12                                                                      37.5
2025.1                                                              31.39573
* 본 통계는 표본 중개업소를 대상으로 표본 설문조사로 집계된 통계이오니 이용에 참고...                       NaN
주) 매수우위지수 = 100 + "매수자 많음" 비중 - "매도자 많음" 비중    ...                       NaN

In [16]:
#필요 없는 행 제거
ms_df = ms.iloc[2:ms[(     '전국', '매수우위지수')].count()]
js_df = js.iloc[2:js[(     '전국', '전세수급지수')].count()]
js_df

               전국                                        서울특별시             \
nan         수요>공급      수요<공급      전세수급지수      수요≒공급      수요>공급      수요<공급
date
'00.1   76.156218  11.305242  164.850976  12.538541  80.977131   5.509356
2       84.475806   7.459677  177.016129   8.064516  93.993994   1.501502
3       85.714286   7.645875   178.06841   6.639839  94.605395   0.799201
4       82.931727   7.429719  175.502008   9.638554       93.9        0.8
5       69.059656   9.100101  159.959555  21.840243  83.916084   3.096903
...           ...        ...         ...        ...        ...        ...
9       47.491709  13.983356  133.508353  38.524935  50.001566   6.735767
10      48.199249  13.261549    134.9377  38.539202  48.383203   8.359023
11      44.639907  14.477596  130.162311  40.882498  40.477627  12.368713
12      42.747879  16.610016  126.137863  40.642105  39.219397  13.738525
2025.1  43.832168  15.355578   128.47659  40.812254  39.011677  13.812036

                                  강북14개구             ...        경상남도  \
nan         전세수급지수      수요≒공급      수요>공급      수요<공급  ...      전세수급지수
date                                                 ...
'00.1   175.467775  13.513514          -          -  ...           -
2       192.492492   4.504505          -          -  ...           -
3       193.806194   4.595405          -          -  ...           -
4            193.1        5.3          -          -  ...           -
5       180.819181  12.987013          -          -  ...           -
...            ...        ...        ...        ...  ...         ...
9       143.265799  43.262666  53.741479   6.200328  ...  135.146347
10       140.02418  43.257774   52.25204   7.487583  ...  143.983635
11      128.108914   47.15366  41.838782  11.952601  ...  140.883967
12      125.480872  47.042078  40.407885  12.422348  ...   135.80803
2025.1  125.199641  47.176288  39.501395  12.699729  ...  134.669997

                        기타지방                                      제주특별자치도  \
nan         수요≒공급      수요>공급      수요<공급      전세수급지수      수요≒공급      수요>공급
date
'00.1         NaN  58.006363  23.966066  134.040297  18.027572        NaN
2             NaN  68.228106  17.718941  150.509165  14.052953        NaN
3             NaN  65.443425  22.426096  143.017329  12.130479        NaN
4             NaN  62.058527  20.383451  141.675076  17.558022        NaN
5             NaN  51.425662  20.570265  130.855397  28.004073        NaN
...           ...        ...        ...         ...        ...        ...
9       33.336762  53.854755  13.738678  140.116077  32.406567  35.251231
10      37.030912  55.909492  11.357596  144.551896  32.732911  51.291735
11      37.214387  53.698334  11.618696  142.079638  34.682969  38.565955
12      40.869554  52.458504  13.746483  138.712021  33.795012  39.390393
2025.1  42.228244  50.959634  13.755404   137.20423  35.284962  38.565955


nan         수요<공급      전세수급지수      수요≒공급
date
'00.1         NaN         NaN        NaN
2             NaN         NaN        NaN
3             NaN         NaN        NaN
4             NaN         NaN        NaN
5             NaN         NaN        NaN
...           ...         ...        ...
9       20.807882   114.44335  43.940887
10        8.52764  142.764095  40.180624
11        8.52764  130.038315  52.906405
12       9.593595  129.796798  51.016012
2025.1  15.697865   122.86809   45.73618

[301 rows x 96 columns]

In [17]:
js_df.iloc[-26:]

               전국                                        서울특별시             \
nan         수요>공급      수요<공급      전세수급지수      수요≒공급      수요>공급      수요<공급
date
12      17.148395  54.926351   62.222044  27.925253   8.590186   62.06182
'23.1   14.567038  52.922452   61.644586   32.51051   6.970748  61.982539
2       15.657468  47.830888   67.826581  36.511644   7.977596  56.872756
3       16.958025  43.758694   73.199331  39.283281  10.561626  47.383968
4       17.934349  41.576448   76.357901  40.489202  13.658462  43.051243
5       20.619274  37.179313   83.439962  42.201413  16.234004  35.859332
6       22.093547  33.338852   88.754695  44.567601  19.848097  29.712139
7       24.084828  28.773609   95.311219  47.141563  24.532494  27.363958
8       29.828245  22.745422  107.082823  47.426333  30.902221  18.744579
9       35.705813  20.095906  115.609907  44.198281  37.875797  17.558713
10      36.213711  20.865411    115.3483  42.920879  38.643025  18.120836
11      33.435011  23.391521   110.04349  43.173468  37.649135  16.703021
12      31.755976  24.783052  106.972924  43.460972  35.707225  19.767817
2024.1  32.095109  23.512249  108.582861  44.392642  36.109017  15.766114
2       32.535641  23.566751   108.96889  43.897609  36.111191  15.641169
3       34.037866  21.645642  112.392223  44.316492  40.736612  11.765131
4       34.182672  21.189729  112.992943  44.627599  43.782218  11.132576
5       34.965214  18.820123  116.145091  46.214663  47.741024   9.543743
6       39.346643   17.52638  121.820263  43.126978  50.911898   8.590537
7       41.365105    16.8351  124.530005  41.799796  48.944399   7.044453
8       45.243923  14.723293  130.520631  40.032784  50.434512   7.542402
9       47.491709  13.983356  133.508353  38.524935  50.001566   6.735767
10      48.199249  13.261549    134.9377  38.539202  48.383203   8.359023
11      44.639907  14.477596  130.162311  40.882498  40.477627  12.368713
12      42.747879  16.610016  126.137863  40.642105  39.219397  13.738525
2025.1  43.832168  15.355578   128.47659  40.812254  39.011677  13.812036

                                  강북14개구             ...        경상남도  \
nan         전세수급지수      수요≒공급      수요>공급      수요<공급  ...      전세수급지수
date                                                 ...
12       46.528365  29.347994   9.772826  58.684621  ...  103.430337
'23.1    44.988209  31.046714   7.969432  59.269917  ...   97.711091
2         51.10484  35.149647    9.13106  52.322874  ...   101.80403
3        63.177658  42.054406  10.361225  48.060763  ...  108.795187
4        70.607219  43.290295  13.414083  44.984252  ...  108.662858
5        80.374672  47.906663  14.775464  40.785383  ...  117.306013
6        90.135957  50.439764  19.342072  35.352581  ...  109.691729
7        97.168535  48.103548  21.201036  31.059689  ...  108.080338
8       112.157642  50.353199  29.358616   21.70045  ...  119.026707
9       120.317083   44.56549  39.413423  20.985109  ...  127.355857
10      120.522189  43.236139  41.918847    20.5891  ...  114.212628
11      120.946114  45.647845  40.311786  16.768031  ...  121.450044
12      115.939408  44.524958  38.572995  19.195074  ...  115.968892
2024.1  120.342903   48.12487  39.459166  16.125651  ...  126.549954
2       120.470022   48.24764  39.940006   15.42299  ...  122.552128
3       128.971481  47.498256  45.568219   8.799413  ...   124.02198
4       132.649643  45.085206  49.142847    8.27101  ...   114.89008
5       138.197281  42.715233   52.98129   6.544052  ...  122.065034
6       142.321361  40.497565  56.182107   6.149102  ...  122.855106
7       141.899946  44.011148  50.723479   5.924211  ...  127.065359
8       142.892111  42.023086  52.385458   7.607259  ...  134.262662
9       143.265799  43.262666  53.741479   6.200328  ...  135.146347
10       140.02418  43.257774   52.25204   7.487583  ...  143.983635
11      128.108914   47.15366  41.838782  11.952601  ...  140.883967
12      125.480872  47.042078  40.407885  12.422348  ...   135.80803
2025.1  125.199641  47.176288  39.501395  12.699729  ...  134.669997

                        기타지방                                      제주특별자치도  \
nan         수요≒공급      수요>공급      수요<공급      전세수급지수      수요≒공급      수요>공급
date
12      28.497068  35.457019  34.613717  100.843302  29.929264  38.186805
'23.1   31.838838   31.83245  34.011426   97.821024  34.156124  24.075662
2       37.965827  32.211009  28.669444  103.541565  39.119546  16.911611
3       38.733951  33.365292  25.946145  107.419147  40.688563  26.087763
4       36.165149  33.121586  27.512445  105.609141  39.365968  21.112182
5       40.086934   36.45954  23.357929  113.101611  40.182532  27.780454
6       41.193895  36.325762  22.156154  114.169609  41.518084  45.165401
7       33.107178  36.674255  19.941016  116.733239  43.384728  31.144085
8       32.708602   43.40102  17.085004  126.316015  39.513976   47.41087
9       31.057421  49.427687  14.869188  134.558499  35.703125  45.215837
10      34.006432  48.314439  16.778847  131.535592  34.906714  52.284527
11      31.494828  47.985665  18.311678  129.673987  33.702657  44.741141
12      35.036373  46.950434  18.909343  128.041091  34.140223   47.27786
2024.1  39.350077  45.259972  18.349845  126.910127  36.390184  41.018954
2       33.411889  45.461554  21.191209  124.270345  33.347236  37.615197
3       38.604304  45.168579     19.403  125.765579  35.428421  46.456509
4       39.837896  42.628768  20.114121  122.514648  37.257111  37.154287
5        46.55581  43.489805  16.727552  126.762252  39.782643  53.820954
6        43.29468  48.587022    16.3271  132.259922  35.085879  63.962306
7       37.422877  47.849837  16.138862  131.710976  36.011301   51.27093
8       35.973684  51.718915  13.853849  137.865065  34.427236  52.859592
9       33.336762  53.854755  13.738678  140.116077  32.406567  35.251231
10      37.030912  55.909492  11.357596  144.551896  32.732911  51.291735
11      37.214387  53.698334  11.618696  142.079638  34.682969  38.565955
12      40.869554  52.458504  13.746483  138.712021  33.795012  39.390393
2025.1  42.228244  50.959634  13.755404   137.20423  35.284962  38.565955


nan         수요<공급      전세수급지수      수요≒공급
date
12      19.539844  118.646961  42.273351
'23.1   65.735182   58.340481  10.189156
2        55.58891   61.322702  27.499479
3       51.706691   74.381072  22.205545
4       53.887818   67.224363         25
5       47.219546   80.560908         25
6       30.110268  115.055134  24.724331
7       21.576685    109.5674   47.27923
8       15.534782  131.876088  37.054349
9       16.644409  128.571428  38.139753
10      11.928868  140.355659  35.786605
11      16.896602  127.844538  38.362257
12      16.135401  131.142458  36.586739
2024.1  11.561032  129.457922  47.420015
2        8.563727   129.05147  53.821076
3       14.451427  132.005082  39.092064
4       15.711428  121.442859  47.134285
5       11.111111  142.709843  35.067935
6        8.113082  155.849224  27.924612
7       14.110349   137.16058  34.618721
8        8.569252   144.29034  38.571156
9       20.807882   114.44335  43.940887
10        8.52764  142.764095  40.180624
11        8.52764  130.038315  52.906405
12       9.593595  129.796798  51.016012
2025.1  15.697865   122.86809   45.73618

[26 rows x 96 columns]

In [18]:
index_list = list(ms_df.index)
index_list
new_index = []

for num, raw_index in enumerate(index_list):
    temp = str(raw_index).split('.')
    if len(temp[0]) == 3: #23년까지
        if int(temp[0].replace("'","")) >84:
            new_index.append('19' + temp[0].replace("'","") + '.' + temp[1])
        else:
            new_index.append('20' + temp[0].replace("'","") + '.' + temp[1])
    elif len(temp[0]) == 4: #24년부터
        new_index.append(temp[0] + '.' + temp[1])
    else: #월
        new_index.append(new_index[num-1].split('.')[0] + '.' + temp[0])
new_index

['2000.1',
 '2000.2',
 '2000.3',
 '2000.4',
 '2000.5',
 '2000.6',
 '2000.7',
 '2000.8',
 '2000.9',
 '2000.10',
 '2000.11',
 '2000.12',
 '2001.1',
 '2001.2',
 '2001.3',
 '2001.4',
 '2001.5',
 '2001.6',
 '2001.7',
 '2001.8',
 '2001.9',
 '2001.10',
 '2001.11',
 '2001.12',
 '2002.1',
 '2002.2',
 '2002.3',
 '2002.4',
 '2002.5',
 '2002.6',
 '2002.7',
 '2002.8',
 '2002.9',
 '2002.10',
 '2002.11',
 '2002.12',
 '2003.1',
 '2003.2',
 '2003.3',
 '2003.4',
 '2003.5',
 '2003.6',
 '2003.7',
 '2003.8',
 '2003.9',
 '2003.10',
 '2003.11',
 '2003.12',
 '2004.1',
 '2004.2',
 '2004.3',
 '2004.4',
 '2004.5',
 '2004.6',
 '2004.7',
 '2004.8',
 '2004.9',
 '2004.10',
 '2004.11',
 '2004.12',
 '2005.1',
 '2005.2',
 '2005.3',
 '2005.4',
 '2005.5',
 '2005.6',
 '2005.7',
 '2005.8',
 '2005.9',
 '2005.10',
 '2005.11',
 '2005.12',
 '2006.1',
 '2006.2',
 '2006.3',
 '2006.4',
 '2006.5',
 '2006.6',
 '2006.7',
 '2006.8',
 '2006.9',
 '2006.10',
 '2006.11',
 '2006.12',
 '2007.1',
 '2007.2',
 '2007.3',
 '2007.4',
 '2007.5',
 '2007.6',
 '2007.7',
 '2007.8',
 '2007.9',
 '2007.10',
 '2007.11',
 '2007.12',
 '2008.1',
 '2008.2',
 '2008.3',
 '2008.4',
 '2008.5',
 '2008.6',
 '2008.7',
 '2008.8',
 '2008.9',
 '2008.10',
 '2008.11',
 '2008.12',
 '2009.1',
 '2009.2',
 '2009.3',
 '2009.4',
 '2009.5',
 '2009.6',
 '2009.7',
 '2009.8',
 '2009.9',
 '2009.10',
 '2009.11',
 '2009.12',
 '2010.1',
 '2010.2',
 '2010.3',
 '2010.4',
 '2010.5',
 '2010.6',
 '2010.7',
 '2010.8',
 '2010.9',
 '2010.10',
 '2010.11',
 '2010.12',
 '2011.1',
 '2011.2',
 '2011.3',
 '2011.4',
 '2011.5',
 '2011.6',
 '2011.7',
 '2011.8',
 '2011.9',
 '2011.10',
 '2011.11',
 '2011.12',
 '2012.1',
 '2012.2',
 '2012.3',
 '2012.4',
 '2012.5',
 '2012.6',
 '2012.7',
 '2012.8',
 '2012.9',
 '2012.10',
 '2012.11',
 '2012.12',
 '2013.1',
 '2013.2',
 '2013.3',
 '2013.4',
 '2013.5',
 '2013.6',
 '2013.7',
 '2013.8',
 '2013.9',
 '2013.10',
 '2013.11',
 '2013.12',
 '2014.1',
 '2014.2',
 '2014.3',
 '2014.4',
 '2014.5',
 '2014.6',
 '2014.7',
 '2014.8',
 '2014.9',
 '2014.10',
 '2014.11',
 '2014.12',
 '2015.1',
 '2015.2',
 '2015.3',
 '2015.4',
 '2015.5',
 '2015.6',
 '2015.7',
 '2015.8',
 '2015.9',
 '2015.10',
 '2015.11',
 '2015.12',
 '2016.1',
 '2016.2',
 '2016.3',
 '2016.4',
 '2016.5',
 '2016.6',
 '2016.7',
 '2016.8',
 '2016.9',
 '2016.10',
 '2016.11',
 '2016.12',
 '2017.1',
 '2017.2',
 '2017.3',
 '2017.4',
 '2017.5',
 '2017.6',
 '2017.7',
 '2017.8',
 '2017.9',
 '2017.10',
 '2017.11',
 '2017.12',
 '2018.1',
 '2018.2',
 '2018.3',
 '2018.4',
 '2018.5',
 '2018.6',
 '2018.7',
 '2018.8',
 '2018.9',
 '2018.10',
 '2018.11',
 '2018.12',
 '2019.1',
 '2019.2',
 '2019.3',
 '2019.4',
 '2019.5',
 '2019.6',
 '2019.7',
 '2019.8',
 '2019.9',
 '2019.10',
 '2019.11',
 '2019.12',
 '2020.1',
 '2020.2',
 '2020.3',
 '2020.4',
 '2020.5',
 '2020.6',
 '2020.7',
 '2020.8',
 '2020.9',
 '2020.10',
 '2020.11',
 '2020.12',
 '2021.1',
 '2021.2',
 '2021.3',
 '2021.4',
 '2021.5',
 '2021.6',
 '2021.7',
 '2021.8',
 '2021.9',
 '2021.10',
 '2021.11',
 '2021.12',
 '2022.1',
 '2022.2',
 '2022.3',
 '2022.4',
 '2022.5',
 '2022.6',
 '2022.7',
 '2022.8',
 '2022.9',
 '2022.10',
 '2022.11',
 '2022.12',
 '2023.1',
 '2023.2',
 '2023.3',
 '2023.4',
 '2023.5',
 '2023.6',
 '2023.7',
 '2023.8',
 '2023.9',
 '2023.10',
 '2023.11',
 '2023.12',
 '2024.1',
 '2024.2',
 '2024.3',
 '2024.4',
 '2024.5',
 '2024.6',
 '2024.7',
 '2024.8',
 '2024.9',
 '2024.10',
 '2024.11',
 '2024.12',
 '2025.1']

In [19]:
ms_df.set_index(pd.to_datetime(new_index, format="%Y.%m"), inplace=True)
ms_df = ms_df.astype(str).replace('-','0').astype(float).fillna(0).round(decimals=3)
js_df.set_index(pd.to_datetime(new_index, format="%Y.%m"), inplace=True)
js_df = js_df.astype(str).replace('-','0').astype(float).fillna(0).round(decimals=3)
js_df

                전국                            서울특별시                           \
nan          수요>공급   수요<공급   전세수급지수   수요≒공급   수요>공급   수요<공급   전세수급지수   수요≒공급
2000-01-01  76.156  11.305  164.851  12.539  80.977   5.509  175.468  13.514
2000-02-01  84.476   7.460  177.016   8.065  93.994   1.502  192.492   4.505
2000-03-01  85.714   7.646  178.068   6.640  94.605   0.799  193.806   4.595
2000-04-01  82.932   7.430  175.502   9.639  93.900   0.800  193.100   5.300
2000-05-01  69.060   9.100  159.960  21.840  83.916   3.097  180.819  12.987
...            ...     ...      ...     ...     ...     ...      ...     ...
2024-09-01  47.492  13.983  133.508  38.525  50.002   6.736  143.266  43.263
2024-10-01  48.199  13.262  134.938  38.539  48.383   8.359  140.024  43.258
2024-11-01  44.640  14.478  130.162  40.882  40.478  12.369  128.109  47.154
2024-12-01  42.748  16.610  126.138  40.642  39.219  13.739  125.481  47.042
2025-01-01  43.832  15.356  128.477  40.812  39.012  13.812  125.200  47.176

            강북14개구          ...     경상남도            기타지방                   \
nan          수요>공급   수요<공급  ...   전세수급지수   수요≒공급   수요>공급   수요<공급   전세수급지수
2000-01-01   0.000   0.000  ...    0.000   0.000  58.006  23.966  134.040
2000-02-01   0.000   0.000  ...    0.000   0.000  68.228  17.719  150.509
2000-03-01   0.000   0.000  ...    0.000   0.000  65.443  22.426  143.017
2000-04-01   0.000   0.000  ...    0.000   0.000  62.059  20.383  141.675
2000-05-01   0.000   0.000  ...    0.000   0.000  51.426  20.570  130.855
...            ...     ...  ...      ...     ...     ...     ...      ...
2024-09-01  53.741   6.200  ...  135.146  33.337  53.855  13.739  140.116
2024-10-01  52.252   7.488  ...  143.984  37.031  55.909  11.358  144.552
2024-11-01  41.839  11.953  ...  140.884  37.214  53.698  11.619  142.080
2024-12-01  40.408  12.422  ...  135.808  40.870  52.459  13.746  138.712
2025-01-01  39.501  12.700  ...  134.670  42.228  50.960  13.755  137.204

                   제주특별자치도
nan          수요≒공급   수요>공급   수요<공급   전세수급지수   수요≒공급
2000-01-01  18.028   0.000   0.000    0.000   0.000
2000-02-01  14.053   0.000   0.000    0.000   0.000
2000-03-01  12.130   0.000   0.000    0.000   0.000
2000-04-01  17.558   0.000   0.000    0.000   0.000
2000-05-01  28.004   0.000   0.000    0.000   0.000
...            ...     ...     ...      ...     ...
2024-09-01  32.407  35.251  20.808  114.443  43.941
2024-10-01  32.733  51.292   8.528  142.764  40.181
2024-11-01  34.683  38.566   8.528  130.038  52.906
2024-12-01  33.795  39.390   9.594  129.797  51.016
2025-01-01  35.285  38.566  15.698  122.868  45.736

[301 rows x 96 columns]

In [20]:
ms_df.index.name="date"
js_df.index.name="date"

In [21]:
ms_df.to_sql("kbs", kb_conn, if_exists="replace")
js_df.to_sql("kbjs", kb_conn, if_exists="replace")

301

In [22]:
sdf = pd.read_sql("SELECT * FROM kbjs", kb_conn, index_col='date', parse_dates={'date', "%Y-%m"}) 
sdf

,"('전국', '수요>공급')","('전국', '수요<공급')","('전국', '전세수급지수')","('전국', '수요≒공급')","('서울특별시', '수요>공급')","('서울특별시', '수요<공급')","('서울특별시', '전세수급지수')","('서울특별시', '수요≒공급')","('강북14개구', '수요>공급')","('강북14개구', '수요<공급')",...,"('경상남도', '전세수급지수')","('경상남도', '수요≒공급')","('기타지방', '수요>공급')","('기타지방', '수요<공급')","('기타지방', '전세수급지수')","('기타지방', '수요≒공급')","('제주특별자치도', '수요>공급')","('제주특별자치도', '수요<공급')","('제주특별자치도', '전세수급지수')","('제주특별자치도', '수요≒공급')"
date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,76.156,11.305,164.851,12.539,80.977,5.509,175.468,13.514,0.000,0.000,...,0.000,0.000,58.006,23.966,134.040,18.028,0.000,0.000,0.000,0.000
2000-02-01,84.476,7.460,177.016,8.065,93.994,1.502,192.492,4.505,0.000,0.000,...,0.000,0.000,68.228,17.719,150.509,14.053,0.000,0.000,0.000,0.000
2000-03-01,85.714,7.646,178.068,6.640,94.605,0.799,193.806,4.595,0.000,0.000,...,0.000,0.000,65.443,22.426,143.017,12.130,0.000,0.000,0.000,0.000
2000-04-01,82.932,7.430,175.502,9.639,93.900,0.800,193.100,5.300,0.000,0.000,...,0.000,0.000,62.059,20.383,141.675,17.558,0.000,0.000,0.000,0.000
2000-05-01,69.060,9.100,159.960,21.840,83.916,3.097,180.819,12.987,0.000,0.000,...,0.000,0.000,51.426,20.570,130.855,28.004,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-01,47.492,13.983,133.508,38.525,50.002,6.736,143.266,43.263,53.741,6.200,...,135.146,33.337,53.855,13.739,140.116,32.407,35.251,20.808,114.443,43.941
2024-10-01,48.199,13.262,134.938,38.539,48.383,8.359,140.024,43.258,52.252,7.488,...,143.984,37.031,55.909,11.358,144.552,32.733,51.292,8.528,142.764,40.181
2024-11-01,44.640,14.478,130.162,40.882,40.478,12.369,128.109,47.154,41.839,11.953,...,140.884,37.214,53.698,11.619,142.080,34.683,38.566,8.528,130.038,52.906
2024-12-01,42.748,16.610,126.138,40.642,39.219,13.739,125.481,47.042,40.408,12.422,...,135.808,40.870,52.459,13.746,138.712,33.795,39.390,9.594,129.797,51.016
2025-01-01,43.832,15.356,128.477,40.812,39.012,13.812,125.200,47.176,39.501,12.700,...,134.670,42.228,50.960,13.755,137.204,35.285,38.566,15.698,122.868,45.736

In [23]:
kb_conn.close()

### 전세가율

In [23]:
from PublicDataReader import Kbland
import PublicDataReader as pdr

code = pdr.code_bdong()
api = Kbland()
code

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 5. 1. 시행)
URL: https://www.mois.go.kr/frt/bbs/type001/commonSelectBoardArticle.do?bbsId=BBSMSTR_000000000052&nttId=100215

      시도코드      시도명  시군구코드  시군구명       법정동코드 읍면동명  동리명      생성일자 말소일자
0       11    서울특별시  11000        1100000000            19880423
1       11    서울특별시  11110   종로구  1111000000            19880423
2       11    서울특별시  11110   종로구  1111010100  청운동       19880423
3       11    서울특별시  11110   종로구  1111010200  신교동       19880423
4       11    서울특별시  11110   종로구  1111010300  궁정동       19880423
...    ...      ...    ...   ...         ...  ...  ...       ...  ...
46340   50  제주특별자치도  50130  서귀포시  5013032022  표선면  하천리  20060701
46341   50  제주특별자치도  50130  서귀포시  5013032023  표선면  성읍리  20060701
46342   50  제주특별자치도  50130  서귀포시  5013032024  표선면  가시리  20060701
46343   50  제주특별자치도  50130  서귀포시  5013032025  표선면  세화리  20060701
46344   50  제주특별자치도  50130  서귀포시  5013032026  표선면  토산리  20060701

[46345 rows x 9 columns]

In [24]:
df_filtered = code.loc[(code['말소일자'] == '') & (~code['시도명'].str.contains('출장소')), :]
df_filtered

      시도코드      시도명  시군구코드  시군구명       법정동코드 읍면동명  동리명      생성일자 말소일자
0       11    서울특별시  11000        1100000000            19880423
1       11    서울특별시  11110   종로구  1111000000            19880423
2       11    서울특별시  11110   종로구  1111010100  청운동       19880423
3       11    서울특별시  11110   종로구  1111010200  신교동       19880423
4       11    서울특별시  11110   종로구  1111010300  궁정동       19880423
...    ...      ...    ...   ...         ...  ...  ...       ...  ...
46340   50  제주특별자치도  50130  서귀포시  5013032022  표선면  하천리  20060701
46341   50  제주특별자치도  50130  서귀포시  5013032023  표선면  성읍리  20060701
46342   50  제주특별자치도  50130  서귀포시  5013032024  표선면  가시리  20060701
46343   50  제주특별자치도  50130  서귀포시  5013032025  표선면  세화리  20060701
46344   50  제주특별자치도  50130  서귀포시  5013032026  표선면  토산리  20060701

[20562 rows x 9 columns]

In [25]:
city_code_list = df_filtered['시도코드'].unique()
gun_code_list = df_filtered['시군구코드'].unique()

In [26]:
###처음 DB 만들기
def get_jratio_guncode(local_code):
  params = {
      "매물종별구분": "01", #(01: 아파트, 08: 연립, 09: 단독, 98: 주택종합)
      "기간": "", # 처음엔 "", 이후 업데이트 시
      "지역코드": local_code,
  }
  ratio_df = api.get_jeonse_price_ratio(**params)
  column_to_convert = '지역코드'
  new_column = '시군구코드'
  ratio_df[new_column] = ratio_df[column_to_convert].astype(str).str[:5]
  local_df = ratio_df.pivot(index=['날짜'], columns=[new_column], values='전세가격비율')
  return local_df

In [27]:
#전국 전세가율 받기
import pandas as pd
from tqdm import tqdm

ratio_df = pd.DataFrame()
for it, city_code in tqdm(enumerate(city_code_list)):
  local_df = get_jratio_guncode(city_code)
  # local_df = get_jratio(city_code, city_name)
  #print(local_df)
  if it == 0:
    ratio_df = local_df
  else:
    ratio_df = pd.concat([ratio_df, local_df], axis=1)
ratio_df = ratio_df.astype(float).fillna(0).round(decimals=3)
ratio_df

0it [00:00, ?it/s]

9it [00:18,  2.10s/it]

IndexError: list index out of range

In [8]:
ratio_df.index.name="date"

In [9]:
ratio_df.to_sql("jratio", conn, if_exists="replace")

293

In [28]:
rdf = pd.read_sql("SELECT * FROM jratio", conn, index_col='date', parse_dates={'date', "%Y-%m"}) 
rdf

ProgrammingError: Cannot operate on a closed database.

In [6]:
conn.close()

NameError: name 'conn' is not defined

## 부동산원 월간

In [24]:
# 연결 1
file_path = "C://Users/sizip/OneDriveData/data/house//'24.12월 전국주택가격동향조사 시계열(신).xlsx"
one_dict = pd.ExcelFile(file_path)
omdf = one_dict.parse("매매_아파트", skiprows=1) 
ojdf = one_dict.parse("전세_아파트", skiprows=1)
ojdf

,지역(Region)\n\n\n날짜(Date),전국,수도권,지방,6대\n광역시,5대\n광역시,9개 도,8개 도,서울,강북권역,...,진주,통영,사천,김해,밀양,거제,양산,제주,제주.1,서귀포
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,The Whole\n Country,Seoul Metropolitan Area,Non Seoul Metropolitan Area,6 Metropolitan Cities,5 Metropolitan Cities,9 Provinces,8 Provinces,Seoul,Northern \nseoul,...,Jinju-si,Tongyeong-si,Sacheon-si,Gimhae-si,Milyang-si,Geoje-si,Yangsan-si,Jeju,Jeju-si,Seogwipo-si
2,001002,00000,00001,00002,00004,00003,00006,00005,11000,11001,...,48170,48220,48240,48250,48270,48310,48330,50000,50110,50130
3,2003-11-01 00:00:00,49.737008,45.935706,53.60633,50.012392,50.233042,50.613368,57.117301,46.743013,46.994034,...,61.291968,NaN,NaN,64.722776,NaN,56.750006,59.727389,53.637706,53.2913,NaN
4,2003-12-01 00:00:00,49.240714,45.403808,53.175039,49.447973,49.712074,50.179121,56.829141,46.224268,46.433638,...,61.424611,NaN,NaN,65.06834,NaN,57.905066,58.810872,53.606708,53.260503,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,2024-11-01 00:00:00,90.424827,89.643559,91.132214,85.528004,84.748137,93.285282,97.418212,91.060109,92.054546,...,102.704361,100.818109,101.528642,92.138255,105.881932,82.043429,85.780383,99.666526,100.11626,98.380995
257,2024-12-01 00:00:00,90.445563,89.684607,91.133504,85.502826,84.741277,93.324602,97.412222,91.083385,92.07658,...,102.721174,100.891919,101.633637,92.395971,106.193317,82.100518,85.753357,99.533359,99.974712,98.276521
258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,목차가기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,(2021년6월 지수 = 100.0),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
omdf.columns

Index(['       지역(Region)\n\n\n날짜(Date)', '전국', '수도권', '지방', '6대\n광역시',
       '5대\n광역시', '9개 도', '8개 도', '서울', '강북권역',
       ...
       '진주', '통영', '사천', '김해', '밀양', '거제', '양산', '제주', '제주.1', '서귀포'],
      dtype='object', length=236)

In [26]:
print(omdf.iloc[215])
print(ojdf.iloc[215])

       지역(Region)\n\n\n날짜(Date)    2021-06-02 00:00:00
전국                                                 100
수도권                                                100
지방                                                 100
6대\n광역시                                            100
                                          ...
거제                                                 100
양산                                                 100
제주                                                 100
제주.1                                               100
서귀포                                                100
Name: 215, Length: 236, dtype: object
       지역(Region)\n\n\n날짜(Date)    2021-06-02 00:00:00
전국                                                 100
수도권                                                100
지방                                                 100
6대\n광역시                                            100
                                          ...
거제                                                 100
양산                                                 100
제주                                                 100
제주.1                                               100
서귀포                                                100
Name: 215, Length: 236, dtype: object

In [27]:
omdf.drop(214, inplace=True)
ojdf.drop(214, inplace=True)

In [28]:
ojdf.iloc[214]

       지역(Region)\n\n\n날짜(Date)    2021-06-02 00:00:00
전국                                                 100
수도권                                                100
지방                                                 100
6대\n광역시                                            100
                                          ...
거제                                                 100
양산                                                 100
제주                                                 100
제주.1                                               100
서귀포                                                100
Name: 215, Length: 236, dtype: object

In [29]:
omdf = omdf.iloc[3:omdf['지방'].count()+1]
omdf = omdf.set_index("       지역(Region)\n\n\n날짜(Date)")
omdf.index = pd.to_datetime(omdf.index, format="%Y-%m")
omdf = omdf.astype(float).fillna(0).round(decimals=3)
omdf.index.name="date"
ojdf = ojdf.iloc[3:ojdf['지방'].count()+1]
ojdf = ojdf.set_index("       지역(Region)\n\n\n날짜(Date)")
ojdf.index = pd.to_datetime(ojdf.index, format="%Y-%m")
ojdf = ojdf.astype(float).fillna(0).round(decimals=3)
ojdf.index.name="date"
omdf

c:\Users\sizip\miniconda3\Lib\site-packages\pandas\core\indexes\base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
c:\Users\sizip\miniconda3\Lib\site-packages\pandas\core\indexes\base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

,전국,수도권,지방,6대\n광역시,5대\n광역시,9개 도,8개 도,서울,강북권역,도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주,제주.1,서귀포
date,,,,,,,,,,,,,,,,,,,,,
2003-11-01,55.408,52.391,58.161,53.181,53.024,57.956,62.961,52.489,51.835,0.000,...,69.371,0.000,0.000,65.688,0.000,64.408,69.001,53.578,52.789,0.000
2003-12-01,55.092,52.082,57.844,52.746,52.571,57.773,62.868,52.092,51.649,0.000,...,69.766,0.000,0.000,66.196,0.000,67.016,67.930,53.499,52.712,0.000
2004-01-01,54.960,51.905,57.774,52.648,52.481,57.627,62.833,51.936,51.585,0.000,...,69.805,0.000,0.000,66.156,0.000,66.482,67.658,53.601,52.813,0.000
2004-02-01,55.144,52.070,57.980,52.771,52.612,57.795,63.141,52.246,51.761,0.000,...,70.240,0.000,0.000,66.003,0.000,68.966,67.543,53.542,52.754,0.000
2004-03-01,55.364,52.252,58.246,52.942,52.811,58.023,63.493,52.519,51.912,0.000,...,70.864,0.000,0.000,66.503,0.000,70.116,67.712,53.491,52.704,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,93.322,93.922,92.757,88.489,87.420,95.340,98.159,97.111,93.593,98.958,...,103.233,96.498,99.779,91.865,104.777,80.589,91.219,100.683,100.979,99.933
2024-09-01,93.536,94.424,92.704,88.485,87.325,95.535,98.148,97.883,94.267,99.738,...,103.978,96.380,99.692,91.737,104.833,80.335,90.947,100.546,100.837,99.810
2024-10-01,93.613,94.679,92.616,88.394,87.165,95.620,98.130,98.305,94.658,100.303,...,104.545,96.345,99.668,91.830,105.086,80.189,90.604,100.419,100.758,99.520
2024-11-01,93.611,94.798,92.502,88.265,87.005,95.628,98.065,98.556,94.874,100.697,...,104.954,96.279,99.699,91.823,105.440,79.807,90.361,100.236,100.580,99.317
2024-12-01,93.504,94.783,92.313,88.032,86.788,95.543,97.901,98.645,94.924,100.861,...,105.098,96.052,99.763,91.465,105.792,79.155,90.216,100.020,100.358,99.119

In [30]:
oheader = header_excel.parse('one')
omdf.columns = oheader.columns
ojdf.columns = oheader.columns
ojdf

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
date,,,,,,,,,,,,,,,,,,,,,
2003-11-01,49.737,45.936,53.606,50.012,50.233,50.613,57.117,46.743,46.994,0.000,...,61.292,0.000,0.000,64.723,0.000,56.750,59.727,53.638,53.291,0.000
2003-12-01,49.241,45.404,53.175,49.448,49.712,50.179,56.829,46.224,46.434,0.000,...,61.425,0.000,0.000,65.068,0.000,57.905,58.811,53.607,53.261,0.000
2004-01-01,49.082,45.196,53.091,49.318,49.609,50.018,56.776,46.034,46.250,0.000,...,62.072,0.000,0.000,64.849,0.000,58.964,58.624,53.394,53.049,0.000
2004-02-01,49.319,45.375,53.402,49.536,49.822,50.263,57.217,46.278,46.528,0.000,...,62.964,0.000,0.000,64.723,0.000,59.567,58.805,53.973,53.624,0.000
2004-03-01,49.593,45.608,53.725,49.745,50.081,50.606,57.625,46.495,46.699,0.000,...,63.943,0.000,0.000,64.870,0.000,60.236,58.819,53.973,53.624,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,89.851,88.509,91.099,85.096,84.745,92.770,97.363,89.961,90.827,91.183,...,101.669,100.908,101.116,91.636,104.848,82.275,86.112,100.108,100.581,98.745
2024-09-01,90.088,89.005,91.085,85.258,84.718,92.973,97.359,90.482,91.386,91.766,...,102.001,100.793,101.224,91.730,105.057,82.190,85.837,99.988,100.448,98.668
2024-10-01,90.301,89.416,91.109,85.443,84.736,93.159,97.392,90.873,91.818,92.215,...,102.317,100.714,101.346,91.946,105.580,82.125,85.815,99.813,100.274,98.487
2024-11-01,90.425,89.644,91.132,85.528,84.748,93.285,97.418,91.060,92.055,92.509,...,102.704,100.818,101.529,92.138,105.882,82.043,85.780,99.667,100.116,98.381
2024-12-01,90.446,89.685,91.134,85.503,84.741,93.325,97.412,91.083,92.077,92.601,...,102.721,100.892,101.634,92.396,106.193,82.101,85.753,99.533,99.975,98.277

In [31]:
omlast_row = omdf.tail(1)
ojlast_row = ojdf.tail(1)
ojlast_row

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
date,,,,,,,,,,,,,,,,,,,,,
2024-12-01,90.446,89.685,91.134,85.503,84.741,93.325,97.412,91.083,92.077,92.601,...,102.721,100.892,101.634,92.396,106.193,82.101,85.753,99.533,99.975,98.277

In [31]:
#처음 한번만
# # Create a connection to the SQLite database
# conn = sqlite3.connect('C://Users/user/fundamental/files/one_monthly.db')
# omdf.to_sql("one_mae", one_conn, if_exists="replace")
# ojdf.to_sql("one_jeon", one_conn, if_exists="replace")

235

In [32]:
# conn = sqlite3.connect('C://Users/sizip/fundamental/files/one_monthly.db')
omlast_row.index.name="date"
omlast_row.to_sql("one_mae", one_conn, if_exists="append")
ojlast_row.index.name="date"
ojlast_row.to_sql("one_jeon", one_conn, if_exists="append")
omdf

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
date,,,,,,,,,,,,,,,,,,,,,
2003-11-01,55.408,52.391,58.161,53.181,53.024,57.956,62.961,52.489,51.835,0.000,...,69.371,0.000,0.000,65.688,0.000,64.408,69.001,53.578,52.789,0.000
2003-12-01,55.092,52.082,57.844,52.746,52.571,57.773,62.868,52.092,51.649,0.000,...,69.766,0.000,0.000,66.196,0.000,67.016,67.930,53.499,52.712,0.000
2004-01-01,54.960,51.905,57.774,52.648,52.481,57.627,62.833,51.936,51.585,0.000,...,69.805,0.000,0.000,66.156,0.000,66.482,67.658,53.601,52.813,0.000
2004-02-01,55.144,52.070,57.980,52.771,52.612,57.795,63.141,52.246,51.761,0.000,...,70.240,0.000,0.000,66.003,0.000,68.966,67.543,53.542,52.754,0.000
2004-03-01,55.364,52.252,58.246,52.942,52.811,58.023,63.493,52.519,51.912,0.000,...,70.864,0.000,0.000,66.503,0.000,70.116,67.712,53.491,52.704,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,93.322,93.922,92.757,88.489,87.420,95.340,98.159,97.111,93.593,98.958,...,103.233,96.498,99.779,91.865,104.777,80.589,91.219,100.683,100.979,99.933
2024-09-01,93.536,94.424,92.704,88.485,87.325,95.535,98.148,97.883,94.267,99.738,...,103.978,96.380,99.692,91.737,104.833,80.335,90.947,100.546,100.837,99.810
2024-10-01,93.613,94.679,92.616,88.394,87.165,95.620,98.130,98.305,94.658,100.303,...,104.545,96.345,99.668,91.830,105.086,80.189,90.604,100.419,100.758,99.520
2024-11-01,93.611,94.798,92.502,88.265,87.005,95.628,98.065,98.556,94.874,100.697,...,104.954,96.279,99.699,91.823,105.440,79.807,90.361,100.236,100.580,99.317
2024-12-01,93.504,94.783,92.313,88.032,86.788,95.543,97.901,98.645,94.924,100.861,...,105.098,96.052,99.763,91.465,105.792,79.155,90.216,100.020,100.358,99.119

In [33]:
omt = pd.read_sql("SELECT * FROM one_mae", one_conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
ojt = pd.read_sql("SELECT * FROM one_jeon", one_conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
ojt

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
date,,,,,,,,,,,,,,,,,,,,,
2003-11-01,49.737,45.936,53.606,50.012,50.233,50.613,57.117,46.743,46.994,0.000,...,61.292,0.000,0.000,64.723,0.000,56.750,59.727,53.638,53.291,0.000
2003-12-01,49.241,45.404,53.175,49.448,49.712,50.179,56.829,46.224,46.434,0.000,...,61.425,0.000,0.000,65.068,0.000,57.905,58.811,53.607,53.261,0.000
2004-01-01,49.082,45.196,53.091,49.318,49.609,50.018,56.776,46.034,46.250,0.000,...,62.072,0.000,0.000,64.849,0.000,58.964,58.624,53.394,53.049,0.000
2004-02-01,49.319,45.375,53.402,49.536,49.822,50.263,57.217,46.278,46.528,0.000,...,62.964,0.000,0.000,64.723,0.000,59.567,58.805,53.973,53.624,0.000
2004-03-01,49.593,45.608,53.725,49.745,50.081,50.606,57.625,46.495,46.699,0.000,...,63.943,0.000,0.000,64.870,0.000,60.236,58.819,53.973,53.624,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08-01,89.851,88.509,91.099,85.096,84.745,92.770,97.363,89.961,90.827,91.183,...,101.669,100.908,101.116,91.636,104.848,82.275,86.112,100.108,100.581,98.745
2024-09-01,90.088,89.005,91.085,85.258,84.718,92.973,97.359,90.482,91.386,91.766,...,102.001,100.793,101.224,91.730,105.057,82.190,85.837,99.988,100.448,98.668
2024-10-01,90.301,89.416,91.109,85.443,84.736,93.159,97.392,90.873,91.818,92.215,...,102.317,100.714,101.346,91.946,105.580,82.125,85.815,99.813,100.274,98.487
2024-11-01,90.425,89.644,91.132,85.528,84.748,93.285,97.418,91.060,92.055,92.509,...,102.704,100.818,101.529,92.138,105.882,82.043,85.780,99.667,100.116,98.381
2024-12-01,90.446,89.685,91.134,85.503,84.741,93.325,97.412,91.083,92.077,92.601,...,102.721,100.892,101.634,92.396,106.193,82.101,85.753,99.533,99.975,98.277

In [34]:
one_conn.close()

## 투자자별 매매 동향

In [36]:
#public reader 사용
service_key = 'ODM4YzliY2U3M2ZlMGNiY2VhNjYxYWRmZGRlOTM5M2M='
from PublicDataReader import Kosis

api = Kosis(service_key)

In [32]:
#전국 한달치 약 8초 걸림림
df = api.get_data(
    "통계자료",
    orgId="408",
    tblId="DT_408_2006_S0065",
    objL1="ALL",
    objL2="ALL",
    itmId="ALL",
    prdSe="M",
    startPrdDe="202306",
    endPrdDe="202308",
)
df.head()

,기관ID,통계표ID,통계표명,분류명1,분류값명1,분류값ID1,분류명2,분류값명2,분류값ID2,항목ID,항목명,단위명,단위영문명,수록주기,수록시점,수치값
0,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,매입자거주지,13102114449B.0001,13103114449T1,호수,호수,Count,M,202306,39622
1,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,매입자거주지,13102114449B.0001,13103114449T1,호수,호수,Count,M,202307,36260
2,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,매입자거주지,13102114449B.0001,13103114449T2,면적,천㎡,1000㎡,M,202306,2937
3,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,매입자거주지,13102114449B.0001,13103114449T2,면적,천㎡,1000㎡,M,202307,2710
4,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,관할 시군구내,13102114449B.00010001,13103114449T1,호수,호수,Count,M,202306,22738

In [33]:
total = df[df['단위명']=='호수']
total['수록시점'] = total['수록시점'].apply(lambda x: x[:4] + '-' + x[4:])
total

C:\Users\user\AppData\Local\Temp\ipykernel_20584\215255809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total['수록시점'] = total['수록시점'].apply(lambda x: x[:4] + '-' + x[4:])

,기관ID,통계표ID,통계표명,분류명1,분류값명1,분류값ID1,분류명2,분류값명2,분류값ID2,항목ID,항목명,단위명,단위영문명,수록주기,수록시점,수치값
0,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,매입자거주지,13102114449B.0001,13103114449T1,호수,호수,Count,M,2023-06,39622
1,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,매입자거주지,13102114449B.0001,13103114449T1,호수,호수,Count,M,2023-07,36260
4,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,관할 시군구내,13102114449B.00010001,13103114449T1,호수,호수,Count,M,2023-06,22738
5,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,관할 시군구내,13102114449B.00010001,13103114449T1,호수,호수,Count,M,2023-07,20741
8,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,전국,13102114449A.0001,매입자거주지,관할 시도내,13102114449B.00010002,13103114449T1,호수,호수,Count,M,2023-06,9013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5569,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,서귀포시,13102114449A.00190002,매입자거주지,관할 시도내,13102114449B.00010002,13103114449T1,호수,호수,Count,M,2023-07,3
5572,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,서귀포시,13102114449A.00190002,매입자거주지,관할 시도외 서울,13102114449B.00010003,13103114449T1,호수,호수,Count,M,2023-06,8
5573,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,서귀포시,13102114449A.00190002,매입자거주지,관할 시도외 서울,13102114449B.00010003,13103114449T1,호수,호수,Count,M,2023-07,5
5576,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,서귀포시,13102114449A.00190002,매입자거주지,관할 시도외 기타,13102114449B.00010004,13103114449T1,호수,호수,Count,M,2023-06,5
5577,408,DT_408_2006_S0065,매입자거주지별 아파트매매거래현황,행정구역별,서귀포시,13102114449A.00190002,매입자거주지,관할 시도외 기타,13102114449B.00010004,13103114449T1,호수,호수,Count,M,2023-07,5

In [34]:
in_df = total.pivot(index=["수록시점"], columns=["분류값명1", "분류값ID1", "분류값ID2"], values="수치값")
in_df

분류값명1                  전국                                              \
분류값ID1  13102114449A.0001
분류값ID2  13102114449B.0001 13102114449B.00010001 13102114449B.00010002
수록시점
2023-06             39622                 22738                  9013
2023-07             36260                 20741                  8486

분류값명1                                                           서울특별시  \
분류값ID1                                              13102114449A.0002
분류값ID2  13102114449B.00010003 13102114449B.00010004 13102114449B.0001
수록시점
2023-06                  2030                  5841              4136
2023-07                  1884                  5149              3804

분류값명1                                                                      \
분류값ID1
분류값ID2  13102114449B.00010001 13102114449B.00010002 13102114449B.00010003
수록시점
2023-06                  1584                  1372                     0
2023-07                  1527                  1358                     0

분류값명1                          ...                   제주시  \
분류값ID1                         ... 13102114449A.00190001
분류값ID2  13102114449B.00010004  ...     13102114449B.0001
수록시점                           ...
2023-06                  1180  ...                   160
2023-07                   919  ...                   125

분류값명1                                                                      \
분류값ID1
분류값ID2  13102114449B.00010001 13102114449B.00010002 13102114449B.00010003
수록시점
2023-06                   134                     8                     6
2023-07                   106                     4                     3

분류값명1                                          서귀포시                        \
분류값ID1                        13102114449A.00190002
분류값ID2  13102114449B.00010004     13102114449B.0001 13102114449B.00010001
수록시점
2023-06                    12                    58                    43
2023-07                    12                    53                    40

분류값명1
분류값ID1
분류값ID2  13102114449B.00010002 13102114449B.00010003 13102114449B.00010004
수록시점
2023-06                     2                     8                     5
2023-07                     3                     5                     5

[2 rows x 1400 columns]

In [26]:
# in_df.to_excel("투자자별매매동향.xlsx")

In [35]:
bheader = header_excel.parse('buyer')
bheader['local'] = bheader['local'].str.strip()
bheader

,지 역,Unnamed: 1,Unnamed: 2,지역명,local,구분,지 역.1,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,전국,NaN,NaN,전국,전국,합계,전국,NaN,NaN,전국
1,전국,NaN,NaN,전국,전국,관할시군구내,NaN,NaN,NaN,NaN
2,전국,NaN,NaN,전국,전국,관할시도내,NaN,NaN,NaN,NaN
3,전국,NaN,NaN,전국,전국,관할시도외_서울,NaN,NaN,NaN,NaN
4,전국,NaN,NaN,전국,전국,관할시도외_기타,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1395,제주,서귀포시,NaN,제주 서귀포시,제주 서귀포,합계,NaN,서귀포시,NaN,서귀포시
1396,제주,서귀포시,NaN,제주 서귀포시,제주 서귀포,관할시군구내,NaN,NaN,NaN,NaN
1397,제주,서귀포시,NaN,제주 서귀포시,제주 서귀포,관할시도내,NaN,NaN,NaN,NaN
1398,제주,서귀포시,NaN,제주 서귀포시,제주 서귀포,관할시도외_서울,NaN,NaN,NaN,NaN
1399,제주,서귀포시,NaN,제주 서귀포시,제주 서귀포,관할시도외_기타,NaN,NaN,NaN,NaN

In [36]:
n_df = bheader.iloc[:,4:6].T
in_df.columns = [n_df.iloc[0],n_df.iloc[1]]
in_df

local       전국                                   서울                        \
구분          합계 관할시군구내 관할시도내 관할시도외_서울 관할시도외_기타    합계 관할시군구내 관할시도내 관할시도외_서울
수록시점
2023-06  39622  22738  9013     2030     5841  4136   1584  1372        0
2023-07  36260  20741  8486     1884     5149  3804   1527  1358        0

local             ... 제주 제주                                제주 서귀포         \
구분      관할시도외_기타  ...    합계 관할시군구내 관할시도내 관할시도외_서울 관할시도외_기타     합계 관할시군구내
수록시점              ...
2023-06     1180  ...   160    134     8        6       12     58     43
2023-07      919  ...   125    106     4        3       12     53     40

local
구분      관할시도내 관할시도외_서울 관할시도외_기타
수록시점
2023-06     2        8        5
2023-07     3        5        5

[2 rows x 1400 columns]

In [44]:
in_df.columns.names

FrozenList(['local', '구분'])

In [45]:
#2023년 7월 1일자로 편입된 대구 군위군 빼자
in_num = in_df[in_df['local'].str.contains('대구 군위군')].index[0]
in_num

KeyError: 'local'

In [30]:
conn = sqlite3.connect('C://Users/user/fundamental/files/one_monthly.db')
tdf = pd.read_sql("SELECT * FROM investor", conn, index_col='index')#, parse_dates={'날짜', "%Y-%m-%d"}) 
tdf

,"('전국', '합계')","('전국', '관할시군구내')","('전국', '관할시도내')","('전국', '관할시도외_서울')","('전국', '관할시도외_기타')","('서울', '합계')","('서울', '관할시군구내')","('서울', '관할시도내')","('서울', '관할시도외_서울')","('서울', '관할시도외_기타')",...,"('제주 제주', '합계')","('제주 제주', '관할시군구내')","('제주 제주', '관할시도내')","('제주 제주', '관할시도외_서울')","('제주 제주', '관할시도외_기타')","('제주 서귀포', '합계')","('제주 서귀포', '관할시군구내')","('제주 서귀포', '관할시도내')","('제주 서귀포', '관할시도외_서울')","('제주 서귀포', '관할시도외_기타')"
index,,,,,,,,,,,,,,,,,,,,,
2006-01,12300,7612,2584,739,1365,2496,1238,816,0,442,...,0,0,0,0,0,0,0,0,0,0
2006-02,40606,24749,8582,2564,4711,7368,3754,2326,0,1288,...,0,0,0,0,0,0,0,0,0,0
2006-03,64920,38969,14101,4359,7491,12843,6551,4130,0,2162,...,0,0,0,0,0,0,0,0,0,0
2006-04,59826,35872,13350,3824,6780,11733,6014,3716,0,2003,...,0,0,0,0,0,0,0,0,0,0
2006-05,58509,34046,13328,4031,7104,11695,5863,3766,0,2066,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01,17841,10009,3719,1078,3035,1161,409,414,0,338,...,74,59,0,5,10,46,30,3,2,11
2023-02,31337,18525,6787,1614,4411,2286,796,914,0,576,...,124,97,11,5,11,42,23,3,6,10
2023-03,38926,22729,8661,1968,5568,3234,1132,1292,0,810,...,107,94,4,3,6,76,50,5,12,9
2023-04,34965,20242,7754,1846,5123,2981,1210,1035,0,736,...,120,100,3,4,13,58,45,3,2,8
2023-05,40746,22345,9230,2541,6630,3711,1377,1409,0,925,...,151,131,3,5,12,54,36,4,4,10

In [31]:
# DB 넣기
in_df.index.name = 'index'
in_df.to_sql('investor', conn, if_exists='append', index=True)

C:\Users\user\AppData\Local\Temp\ipykernel_63072\3698118440.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  in_df.to_sql('investor', conn, if_exists='append', index=True)

OperationalError: table investor has no column named ('대구 군위군', '합계')

## 아파트 미분양

In [7]:
df = api.get_data(
    "통계자료",
    orgId="101",
    tblId="DT_1YL202001E",
    objL1="ALL",
    objL2="ALL",
    itmId="ALL",
    prdSe="M",
    startPrdDe="202210",
    endPrdDe="202304",
)
df.head()

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명2,분류값ID2,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,101,DT_1YL202001E,미분양주택현황(시도/시/군/구),구분,SiGunGu,서울,Seoul,13102871087A.0003,시군구,SiGunGu,...,NaN,13102871087B.0002,13103871087T1,미분양현황,Unsold Housing,호,House,M,202210,866
1,101,DT_1YL202001E,미분양주택현황(시도/시/군/구),구분,SiGunGu,서울,Seoul,13102871087A.0003,시군구,SiGunGu,...,NaN,13102871087B.0002,13103871087T1,미분양현황,Unsold Housing,호,House,M,202211,865
2,101,DT_1YL202001E,미분양주택현황(시도/시/군/구),구분,SiGunGu,서울,Seoul,13102871087A.0003,시군구,SiGunGu,...,NaN,13102871087B.0002,13103871087T1,미분양현황,Unsold Housing,호,House,M,202212,953
3,101,DT_1YL202001E,미분양주택현황(시도/시/군/구),구분,SiGunGu,서울,Seoul,13102871087A.0003,시군구,SiGunGu,...,NaN,13102871087B.0002,13103871087T1,미분양현황,Unsold Housing,호,House,M,202301,996
4,101,DT_1YL202001E,미분양주택현황(시도/시/군/구),구분,SiGunGu,서울,Seoul,13102871087A.0003,시군구,SiGunGu,...,NaN,13102871087B.0002,13103871087T1,미분양현황,Unsold Housing,호,House,M,202302,2099

In [44]:
df['수록시점'] = df['수록시점'].apply(lambda x: x[:4] + '-' + x[4:])
not_df = df.pivot(index=["수록시점"], columns=["분류값명1","분류값명2"], values="수치값")
not_df = not_df.astype(int).fillna(0)
not_df

분류값명1      서울                                        ...  경남                   \
분류값명2       계 종로구 강남구 중구  강동구 용산구  강북구 성동구  강서구 광진구  ... 하동군 산청군  함양군 거창군 합천군
수록시점                                                 ...
2023-03  1084   0   0  2  257  37  200   0  129   3  ...   0   1  253   0   0
2023-04  1058   0   0  2  229  37  186   0  126   3  ...   0   1  207   0   0

분류값명1      제주              세종
분류값명2       계   제주시 서귀포시    계  세종시
수록시점
2023-03  1916  1010  906  157  157
2023-04  1966  1060  906  156  156

[2 rows x 246 columns]

In [45]:
nheader = header_excel.parse('notsold')
not_df.columns = nheader.columns
not_df

,서울 계,서울 종로구,서울 강남구,서울 중구,서울 강동구,서울 용산구,서울 강북구,서울 성동구,서울 강서구,서울 광진구,...,경남 하동군,경남 산청군,경남 함양군,경남 거창군,경남 합천군,제주 계,제주 제주시,제주 서귀포시,세종 계,세종시
수록시점,,,,,,,,,,,,,,,,,,,,,
2023-03,1084,0,0,2,257,37,200,0,129,3,...,0,1,253,0,0,1916,1010,906,157,157
2023-04,1058,0,0,2,229,37,186,0,126,3,...,0,1,207,0,0,1966,1060,906,156,156

In [46]:
# assign values to a new column by adding the values of columns whose column names end in "total"
total_cols = [col for col in not_df.columns if col.endswith('계')]
not_df['전국 계'] = not_df[total_cols].sum(axis=1)
metro = ['서울 계', '경기 계', '인천 계']
not_df['수도권 계'] = not_df[metro].sum(axis=1)
not_df

,서울 계,서울 종로구,서울 강남구,서울 중구,서울 강동구,서울 용산구,서울 강북구,서울 성동구,서울 강서구,서울 광진구,...,경남 함양군,경남 거창군,경남 합천군,제주 계,제주 제주시,제주 서귀포시,세종 계,세종시,전국 계,수도권 계
수록시점,,,,,,,,,,,,,,,,,,,,,
2023-03,1084,0,0,2,257,37,200,0,129,3,...,253,0,0,1916,1010,906,157,157,72104,11034
2023-04,1058,0,0,2,229,37,186,0,126,3,...,207,0,0,1966,1060,906,156,156,71365,11609

In [47]:
not_df.index = pd.to_datetime(not_df.index, format="%Y-%m-%d")
not_df.index.name = 'date'

In [48]:
ndf = pd.read_sql("SELECT * FROM not_sold", conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
ndf

,전국 계,수도권 계,서울 계,서울 종로구,서울 중구,서울 용산구,서울 성동구,서울 광진구,서울 동대문구,서울 중랑구,...,경남 하동군,경남 산청군,경남 함양군,경남 거창군,경남 합천군,제주 계,제주 제주시,제주 서귀포시,세종 계,세종시
date,,,,,,,,,,,,,,,,,,,,,
2007-01-01,72831,1759,697,0,0,0,0,187,0,0,...,0,0,0,0,24,77,77,0,0,0
2007-02-01,73546,4263,590,0,0,0,0,107,0,0,...,0,0,0,0,19,96,55,41,0,0
2007-03-01,73162,3532,687,0,0,0,0,187,0,0,...,0,0,0,0,17,188,153,35,0,0
2007-04-01,73393,3392,685,0,0,0,0,187,0,0,...,0,0,0,0,15,162,129,33,0,0
2007-05-01,78571,3554,704,19,0,0,0,187,0,0,...,0,0,0,0,14,156,127,29,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,58027,10373,865,0,2,41,0,3,50,0,...,0,3,0,0,0,1699,875,824,6,6
2022-12-01,68107,11035,953,0,0,2,32,0,227,0,...,0,3,0,0,0,1676,863,813,6,6
2023-01-01,75359,12257,996,0,0,2,32,41,201,0,...,0,2,260,0,0,1780,967,813,6,6
2023-02-01,75438,12541,2099,0,2,37,0,3,52,0,...,0,1,253,0,0,1929,1022,907,157,157
2023-03-01,72104,11034,1084,0,2,37,0,3,52,0,...,0,1,253,0,0,1916,1010,906,157,157

In [49]:
print(ndf.columns == not_df.columns)

[False False False False False  True False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False  True False False False
 False False False False False  True  True False False False False False
 False False False False False False False False  True False False False
 False False False False False False False False False False False False
  True False False False False False False False False False False False
 False False  True False False  True False False False False False False
 False False False False False False False False False False False False
 False False False False  True False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True  True  True  True  True False False
 False False False False False False False  True  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False]

In [50]:
if ndf.columns.equals(not_df.columns):
    matched_df1 = ndf
    matched_df2 = not_df
else:
    # 열 순서가 다르다면 df2의 열 순서를 df1과 일치시킵니다.
    matched_df2 = not_df[ndf.columns] #ndf.columns
    matched_df1 = ndf
matched_df2

,전국 계,수도권 계,서울 계,서울 종로구,서울 중구,서울 용산구,서울 성동구,서울 광진구,서울 동대문구,서울 중랑구,...,경남 하동군,경남 산청군,경남 함양군,경남 거창군,경남 합천군,제주 계,제주 제주시,제주 서귀포시,세종 계,세종시
date,,,,,,,,,,,,,,,,,,,,,
2023-03-01,72104,11034,1084,0,2,37,0,3,52,0,...,0,1,253,0,0,1916,1010,906,157,157
2023-04-01,71365,11609,1058,0,2,37,0,3,52,0,...,0,1,207,0,0,1966,1060,906,156,156

In [51]:
matched_df2

,전국 계,수도권 계,서울 계,서울 종로구,서울 중구,서울 용산구,서울 성동구,서울 광진구,서울 동대문구,서울 중랑구,...,경남 하동군,경남 산청군,경남 함양군,경남 거창군,경남 합천군,제주 계,제주 제주시,제주 서귀포시,세종 계,세종시
date,,,,,,,,,,,,,,,,,,,,,
2023-03-01,72104,11034,1084,0,2,37,0,3,52,0,...,0,1,253,0,0,1916,1010,906,157,157
2023-04-01,71365,11609,1058,0,2,37,0,3,52,0,...,0,1,207,0,0,1966,1060,906,156,156

In [52]:
print(matched_df1.columns == matched_df2.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True]

In [53]:
matched_df2.iloc[1:].to_sql('not_sold', conn, if_exists='append', index=True)

1

## 준공후 미분양

In [54]:
df = api.get_data(
    "통계자료",
    orgId="116",
    tblId="DT_MLTM_5328",
    objL1="ALL",
    objL2="ALL",
    objL3="13102871088C.0001",
    objL4="13102871088D.0001",
    itmId="ALL",
    prdSe="M",
    startPrdDe="202303",
    endPrdDe="202305",
)
df

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값영문명4,분류값ID4,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값
0,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,전국,Whole country,13102871088A.0001,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202303,8650
1,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,전국,Whole country,13102871088A.0001,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202304,8716
2,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,서울,Seoul,13102871088A.0002,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202303,392
3,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,서울,Seoul,13102871088A.0002,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202304,379
4,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,서울,Seoul,13102871088A.0002,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202303,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,제주,Jeju,13102871088A.0018,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202304,758
490,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,제주,Jeju,13102871088A.0018,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202303,303
491,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,제주,Jeju,13102871088A.0018,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202304,301
492,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,제주,Jeju,13102871088A.0018,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202303,457
493,116,DT_MLTM_5328,공사완료후 미분양현황,구분,City/Provinces,제주,Jeju,13102871088A.0018,시군구,City/Provinces,...,Total,13102871088D.0001,13103871088T1,호,Unit,호,Apartment Unit,M,202304,457

In [55]:
df['수록시점'] = df['수록시점'].apply(lambda x: x[:4] + '-' + x[4:])
pv = df.pivot(index=["수록시점"], columns=["분류값명1","분류값명2"], values="수치값")
pv = pv.astype(int).fillna(0)
pv

분류값명1      전국   서울                                  ...  경남                  \
분류값명2      합계    계 종로구 중구 성동구 용산구 광진구 동대문구 성북구 중랑구  ... 창녕군 남해군 하동군 산청군 함양군
수록시점                                                ...
2023-03  8650  392   0  2   0   0   3    0   0   0  ...   1   0   0   1   0
2023-04  8716  379   0  2   0   0   3    0   0   0  ...   1   0   0   1   0

분류값명1             제주
분류값명2   거창군 합천군    계  제주시 서귀포시
수록시점
2023-03   0   0  760  303  457
2023-04   0   0  758  301  457

[2 rows x 247 columns]

In [56]:
pv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 2023-03 to 2023-04
Columns: 247 entries, ('전국', '합계') to ('제주', '서귀포시')
dtypes: int32(247)
memory usage: 1.9+ KB

In [57]:
adf = pd.read_sql("SELECT * FROM after_not_sold", conn, index_col='date', parse_dates={'date', "%Y-%m-%d"}) 
adf

,전국 계,서울 계,서울 종로구,서울 중구,서울 성동구,서울 용산구,서울 광진구,서울 동대문구,서울 성북구,서울 중랑구,...,경남 창녕군,경남 남해군,경남 하동군,경남 산청군,경남 함양군,경남 거창군,경남 합천군,제주 계,제주 제주시,제주 서귀포시
date,,,,,,,,,,,,,,,,,,,,,
2007-01-01,13775,74,0,0,0,0,0,0,0,0,...,76,0,0,0,0,0,24,77,77,0
2007-02-01,14091,20,0,0,0,0,0,0,0,0,...,76,0,0,0,0,0,19,96,55,41
2007-03-01,13343,15,0,0,0,0,0,0,0,0,...,76,0,0,0,0,0,17,188,153,35
2007-04-01,12606,14,0,0,0,0,0,0,0,0,...,76,0,0,0,0,0,15,162,129,33
2007-05-01,13357,14,0,0,0,0,0,0,0,0,...,76,0,0,0,0,0,14,156,127,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-01,7189,187,0,0,0,0,3,0,0,0,...,1,0,0,3,0,3,0,703,260,443
2022-10-01,7077,210,0,0,0,0,3,0,0,0,...,1,0,0,3,0,3,0,696,253,443
2022-11-01,7110,209,0,0,0,0,3,0,0,0,...,1,0,0,3,0,0,0,680,246,434
2022-12-01,7518,340,0,0,0,0,3,0,0,0,...,1,0,0,3,0,0,0,668,244,424
2023-01-01,7546,342,0,1,0,0,3,0,0,0,...,1,0,0,2,0,0,0,698,274,424

In [49]:
second_col = pv.loc[:, (slice(None), '계')]
second_col

분류값명1,서울,부산,대구,인천,광주,대전,울산,경기,세종,강원,충북,충남,전북,전남,경북,경남,제주
분류값명2,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계,계
수록시점,,,,,,,,,,,,,,,,,
2023-02,405,818,952,346,190,433,137,732,0,585,30,625,77,906,874,682,762
2023-03,392,828,956,465,189,430,135,755,0,572,28,614,80,904,869,673,760

In [51]:
pv[('전국 계', '계')] = second_col.sum(axis=1)
pv

분류값명1      전국   서울                                  ...  경남                  \
분류값명2      합계    계 종로구 중구 성동구 용산구 광진구 동대문구 성북구 중랑구  ... 남해군 하동군 산청군 함양군 거창군
수록시점                                                ...
2023-02  8554  405   0  2   0   0   3    0   0   0  ...   0   0   1   0   0
2023-03  8650  392   0  2   0   0   3    0   0   0  ...   0   0   1   0   0

분류값명1         제주            전국 계
분류값명2   합천군    계  제주시 서귀포시     계
수록시점
2023-02   0  762  304  458  8554
2023-03   0  760  303  457  8650

[2 rows x 248 columns]

##